### Project code II - panel construction

### Qian Zhang

In [1]:
import pandas as pd
import numpy as np

In [2]:
# set directory

wdi_directory='../data'
corrpution_ind_directory='../data'

In [3]:
# load wdi data

wdi_df=pd.read_csv(wdi_directory+'/'+'WDIData.csv')
wdi_df.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,Unnamed: 64
0,Arab World,ARB,Access to clean fuels and technologies for coo...,EG.CFT.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,82.783289,83.120303,83.533457,83.897596,84.171599,84.510171,NaN,NaN,NaN,NaN
1,Arab World,ARB,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,86.428272,87.070576,88.176836,87.342739,89.130121,89.678685,90.273687,NaN,NaN,NaN
2,Arab World,ARB,"Access to electricity, rural (% of rural popul...",EG.ELC.ACCS.RU.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,73.942103,75.244104,77.162305,75.538976,78.741152,79.665635,80.749293,NaN,NaN,NaN
3,Arab World,ARB,"Access to electricity, urban (% of urban popul...",EG.ELC.ACCS.UR.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,95.939242,95.962166,96.352930,95.997833,96.649916,96.834184,97.003974,NaN,NaN,NaN
4,Arab World,ARB,Account ownership at a financial institution o...,FX.OWN.TOTL.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,22.260538,NaN,NaN,30.277130,NaN,NaN,37.165211,NaN,NaN,NaN

In [4]:
len(wdi_df)

377256

In [5]:
dd=set(wdi_df['Country Code'].values)
dd=list(dd)
dd.sort()

In [6]:
country_name_dict_all={}

for code in dd:
    temp=wdi_df[wdi_df['Country Code']==code]
    country_name_dict_all[code]=list(set(temp['Country Name'].values))[0]

In [7]:
country_df=pd.read_csv(wdi_directory+'/'+'WDICountry.csv')

In [8]:
# get developing countries

country_df_developing=country_df[country_df.Development==1]

In [9]:
country_df_developing=country_df_developing[['Country Code','Table Name','Region','Income Group']]
country_df_developing.head()

  Country Code   Table Name                      Region         Income Group
0          AFG  Afghanistan                  South Asia           Low income
1          ALB      Albania       Europe & Central Asia  Upper middle income
2          DZA      Algeria  Middle East & North Africa  Upper middle income
3          AGO       Angola          Sub-Saharan Africa  Lower middle income
4          ARG    Argentina   Latin America & Caribbean  Upper middle income

In [10]:
len(country_df_developing)

142

In [11]:
# get the country developing code

developing_country_code=country_df_developing['Country Code'].values

In [12]:
developing_country_code

array(['AFG', 'ALB', 'DZA', 'AGO', 'ARG', 'ARM', 'AZE', 'BHR', 'BGD',
       'BRB', 'BLR', 'BLZ', 'BEN', 'BTN', 'BOL', 'BIH', 'BWA', 'BRA',
       'BRN', 'BFA', 'BDI', 'CPV', 'KHM', 'CMR', 'CAF', 'TCD', 'CHL',
       'CHN', 'COL', 'COM', 'COG', 'CRI', 'CIV', 'CUB', 'PRK', 'COD',
       'DJI', 'DOM', 'ECU', 'EGY', 'SLV', 'GNQ', 'ERI', 'SWZ', 'ETH',
       'FJI', 'GAB', 'GEO', 'GHA', 'GTM', 'GIN', 'GNB', 'GUY', 'HTI',
       'HND', 'HKG', 'IND', 'IDN', 'IRN', 'IRQ', 'ISR', 'JAM', 'JOR',
       'KAZ', 'KEN', 'KIR', 'KOR', 'KWT', 'KGZ', 'LAO', 'LBN', 'LSO',
       'LBR', 'LBY', 'MDG', 'MWI', 'MYS', 'MDV', 'MLI', 'MRT', 'MUS',
       'MEX', 'MDA', 'MNG', 'MNE', 'MAR', 'MOZ', 'MMR', 'NAM', 'NPL',
       'NIC', 'NER', 'NGA', 'MKD', 'OMN', 'PAK', 'PAN', 'PNG', 'PRY',
       'PER', 'PHL', 'QAT', 'RUS', 'RWA', 'WSM', 'STP', 'SAU', 'SEN',
       'SRB', 'SLE', 'SGP', 'SLB', 'SOM', 'ZAF', 'SSD', 'LKA', 'SDN',
       'SUR', 'SYR', 'TJK', 'TZA', 'THA', 'BHS', 'GMB', 'TLS', 'TGO',
       'TTO', 'TUN', 'TUR', 'TKM', 'TUV', 'UGA', 'UKR', 'ARE', 'URY',
       'UZB', 'VUT', 'VEN', 'VNM', 'YEM', 'ZMB', 'ZWE'], dtype=object)

In [13]:
# get the df of developing countries

wdi_df_developing=wdi_df[:0]

for country in developing_country_code:
    temp=wdi_df[wdi_df['Country Code']==country]
    #print(temp)
    wdi_df_developing=wdi_df_developing.append(temp,ignore_index=True, sort=True)

wdi_df_developing.head()

,1960,1961,1962,1963,1964,1965,1966,1967,1968,1969,...,2015,2016,2017,2018,2019,Country Code,Country Name,Indicator Code,Indicator Name,Unnamed: 64
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,30.100000,32.44000,NaN,NaN,NaN,AFG,Afghanistan,EG.CFT.ACCS.ZS,Access to clean fuels and technologies for coo...,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,71.500000,97.70000,97.700000,NaN,NaN,AFG,Afghanistan,EG.ELC.ACCS.ZS,Access to electricity (% of population),NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,64.573354,97.09936,97.091973,NaN,NaN,AFG,Afghanistan,EG.ELC.ACCS.RU.ZS,"Access to electricity, rural (% of rural popul...",NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,92.500000,99.50000,99.500000,NaN,NaN,AFG,Afghanistan,EG.ELC.ACCS.UR.ZS,"Access to electricity, urban (% of urban popul...",NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,14.893312,NaN,NaN,AFG,Afghanistan,FX.OWN.TOTL.ZS,Account ownership at a financial institution o...,NaN

In [14]:
len(wdi_df_developing)

202918

In [15]:
# selecting the indicator 

indicator_code={}

In [16]:
# load the indicator df

indicator_df=pd.read_csv(wdi_directory+'/'+'WDISeries.csv')
indicator_df.head()

,Series Code,Topic,Indicator Name,Short definition,Long definition,Unit of measure,Periodicity,Base Period,Other notes,Aggregation method,...,Notes from original source,General comments,Source,Statistical concept and methodology,Development relevance,Related source links,Other web links,Related indicators,License Type,Unnamed: 20
0,AG.AGR.TRAC.NO,Environment: Agricultural production,"Agricultural machinery, tractors",NaN,Agricultural machinery refers to the number of...,NaN,Annual,NaN,NaN,Sum,...,NaN,NaN,"Food and Agriculture Organization, electronic ...",A tractor provides the power and traction to m...,Agricultural land covers more than one-third o...,NaN,NaN,NaN,CC BY-4.0,NaN
1,AG.CON.FERT.PT.ZS,Environment: Agricultural production,Fertilizer consumption (% of fertilizer produc...,NaN,Fertilizer consumption measures the quantity o...,NaN,Annual,NaN,NaN,Weighted average,...,NaN,NaN,"Food and Agriculture Organization, electronic ...",Fertilizer consumption measures the quantity o...,"Factors such as the green revolution, has led ...",NaN,NaN,NaN,CC BY-4.0,NaN
2,AG.CON.FERT.ZS,Environment: Agricultural production,Fertilizer consumption (kilograms per hectare ...,NaN,Fertilizer consumption measures the quantity o...,NaN,Annual,NaN,NaN,Weighted average,...,NaN,NaN,"Food and Agriculture Organization, electronic ...",Fertilizer consumption measures the quantity o...,"Factors such as the green revolution, has led ...",NaN,NaN,NaN,CC BY-4.0,NaN
3,AG.LND.AGRI.K2,Environment: Land use,Agricultural land (sq. km),NaN,Agricultural land refers to the share of land ...,NaN,Annual,NaN,NaN,Sum,...,NaN,NaN,"Food and Agriculture Organization, electronic ...",Agricultural land constitutes only a part of a...,Agricultural land covers more than one-third o...,NaN,NaN,NaN,CC BY-4.0,NaN
4,AG.LND.AGRI.ZS,Environment: Land use,Agricultural land (% of land area),NaN,Agricultural land refers to the share of land ...,NaN,Annual,NaN,NaN,Weighted average,...,NaN,NaN,"Food and Agriculture Organization, electronic ...",Agriculture is still a major sector in many ec...,Agricultural land covers more than one-third o...,NaN,NaN,NaN,CC BY-4.0,NaN

In [17]:
len(indicator_df)

1429

In [18]:
indicator_code['wdi_gdp_percapita']='NY.GDP.PCAP.KD'
indicator_code['wdi_trade_percent']='NE.TRD.GNFS.ZS'
indicator_code['wdi_gov_consumption_precent']='NE.CON.GOVT.ZS'
indicator_code['wdi_inflation']='NY.GDP.DEFL.KD.ZG'
indicator_code['wdi_fdi_inflow_percent']='BX.KLT.DINV.WD.GD.ZS'
indicator_code['wdi_capital_invest_percent']='NE.GDI.FTOT.ZS'
indicator_code['wdi_natural_resource_percent']='NY.GDP.TOTL.RT.ZS'
#indicator_code['wdi_gdp_all']='NY.GDP.MKTP.KD'

In [19]:
# filter the wdi_df with only selected indicators

wdi_df_filter=wdi_df_developing[:0]

for value in indicator_code.values():
    temp=wdi_df_developing[wdi_df_developing['Indicator Code']==value]
    wdi_df_filter=wdi_df_filter.append(temp, ignore_index=True, sort=True)

wdi_df_filter.head()

,1960,1961,1962,1963,1964,1965,1966,1967,1968,1969,...,2015,2016,2017,2018,2019,Country Code,Country Name,Indicator Code,Indicator Name,Unnamed: 64
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,574.184114,571.073775,571.542506,563.825663,NaN,AFG,Afghanistan,NY.GDP.PCAP.KD,GDP per capita (constant 2010 US$),NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4524.386108,4681.840039,4865.209546,5079.401120,NaN,ALB,Albania,NY.GDP.PCAP.KD,GDP per capita (constant 2010 US$),NaN
2,2481.717267,2091.399854,1638.727100,2146.904772,2214.845482,2290.617314,2121.109151,2256.489416,2429.008859,2559.279903,...,4777.347657,4830.116707,4793.866702,4764.375636,NaN,DZA,Algeria,NY.GDP.PCAP.KD,GDP per capita (constant 2010 US$),NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3748.320623,3530.309423,3409.929285,3229.619740,NaN,AGO,Angola,NY.GDP.PCAP.KD,GDP per capita (constant 2010 US$),NaN
4,5642.765138,5853.171906,5711.179338,5323.494309,5772.649967,6286.229347,6151.926026,6255.184022,6460.787452,6980.899178,...,10568.157809,10239.481348,10404.263513,10043.508552,NaN,ARG,Argentina,NY.GDP.PCAP.KD,GDP per capita (constant 2010 US$),NaN

In [20]:
wdi_df_filter['Indicator Name'].value_counts()

GDP per capita (constant 2010 US$)                             142
Total natural resources rents (% of GDP)                       142
Trade (% of GDP)                                               142
General government final consumption expenditure (% of GDP)    142
Foreign direct investment, net inflows (% of GDP)              142
Inflation, GDP deflator (annual %)                             142
Gross fixed capital formation (% of GDP)                       142
Name: Indicator Name, dtype: int64

In [21]:
len(wdi_df_filter)

994

In [22]:
# filter2 mainly filters the developing countries with totally no data points

wdi_df_filter2=wdi_df_filter.copy()

na_country=set()

for row in wdi_df_filter2.iterrows():
    count=0
    for year in range(1996, 2017):
        if np.isnan(row[1][str(year)]):
            count+=1
    if count>=(2017-1996):
        na_country.add(row[1]['Country Code'])

In [23]:
len(na_country)

14

In [24]:
# get the country codes after filtering the na country

country_filter=[x for x in list(developing_country_code) if x not in na_country]

In [25]:
len(country_filter)

128

In [26]:
# filter3 mainly filters the na countries

wdi_df_filter3=wdi_df_filter2[:0]

for value in country_filter:
    temp=wdi_df_filter2[wdi_df_filter2['Country Code']==value]
    wdi_df_filter3=wdi_df_filter3.append(temp, ignore_index=True, sort=True)

wdi_df_filter3.head()

,1960,1961,1962,1963,1964,1965,1966,1967,1968,1969,...,2015,2016,2017,2018,2019,Country Code,Country Name,Indicator Code,Indicator Name,Unnamed: 64
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,574.184114,571.073775,571.542506,563.825663,NaN,AFG,Afghanistan,NY.GDP.PCAP.KD,GDP per capita (constant 2010 US$),NaN
1,11.157027,12.55061,14.227644,26.035511,26.944448,32.671083,27.142857,20.982735,24.110033,25.078864,...,55.125527,47.659055,51.236881,NaN,NaN,AFG,Afghanistan,NE.TRD.GNFS.ZS,Trade (% of GDP),NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,12.350959,12.405369,12.571428,NaN,NaN,AFG,Afghanistan,NE.CON.GOVT.ZS,General government final consumption expenditu...,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.447563,5.102713,1.947723,0.791839,NaN,AFG,Afghanistan,NY.GDP.DEFL.KD.ZG,"Inflation, GDP deflator (annual %)",NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.849679,0.483360,0.255222,0.616822,NaN,AFG,Afghanistan,BX.KLT.DINV.WD.GD.ZS,"Foreign direct investment, net inflows (% of GDP)",NaN

In [27]:
len(wdi_df_filter3)

896

In [28]:
from scipy.stats import linregress

In [29]:
# check the na

wdi_df_filter3.isna().sum()

1960              677
1961              605
1962              600
1963              599
1964              596
                 ...
Country Code        0
Country Name        0
Indicator Code      0
Indicator Name      0
Unnamed: 64       896
Length: 65, dtype: int64

In [30]:
# filter4 mainly filters the year to 1999-2016

wdi_df_filter4=wdi_df_filter3.iloc[:,np.r_[1995-1960:2017-1960,-5:-1]]
wdi_df_filter4.tail()

,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,...,2011,2012,2013,2014,2015,2016,Country Code,Country Name,Indicator Code,Indicator Name
891,18.012961,16.939835,16.315076,15.784051,17.790892,24.265345,17.692692,17.923518,17.916263,21.000628,...,18.773919,20.005957,18.438697,19.560283,18.877513,18.123938,ZWE,Zimbabwe,NE.CON.GOVT.ZS,General government final consumption expenditu...
892,3.038538,8.984383,-2.879048,-27.048649,8.006813,0.627900,-0.130890,2.712950,8.801276,7.611524,...,2.553176,4.028577,9.370603,-0.252141,0.607814,2.160993,ZWE,Zimbabwe,NY.GDP.DEFL.KD.ZG,"Inflation, GDP deflator (annual %)"
893,1.655119,0.945851,1.583901,6.940053,0.860307,0.346788,0.056069,0.408381,0.066346,0.149855,...,2.441511,2.044131,1.954060,2.425173,1.999687,1.669274,ZWE,Zimbabwe,BX.KLT.DINV.WD.GD.ZS,"Foreign direct investment, net inflows (% of GDP)"
894,24.577260,18.040491,18.049651,20.601483,2.553699,11.797978,12.117801,10.172491,13.813762,5.107808,...,14.634710,12.148340,9.181371,9.609292,9.995567,9.807839,ZWE,Zimbabwe,NE.GDI.FTOT.ZS,Gross fixed capital formation (% of GDP)
895,7.996337,7.424811,6.462880,4.862512,3.215619,3.622680,3.783198,4.366196,7.118438,9.022544,...,9.472734,8.070786,6.533939,6.999527,6.698087,6.737748,ZWE,Zimbabwe,NY.GDP.TOTL.RT.ZS,Total natural resources rents (% of GDP)

In [31]:
len(wdi_df_filter4)

896

In [32]:
# set the final country code set

final_country_code=set(wdi_df_filter4['Country Code'].values)
len(final_country_code)

128

In [33]:
# load the wgi

xls = pd.ExcelFile(corrpution_ind_directory+'/'+'wgidataset_filter.xlsx')

wgi_dict={'WGI.VOI.ACC':['wgi_Voice_and_Accountability',pd.DataFrame()], 
          'WGI.POLI.STAB':['wgi_Political_Stability_No_Violence',pd.DataFrame()],
          'WGI.GOV.EFF':['wgi_Government_Effectiveness',pd.DataFrame()],
          'WGI.REG.QUAL':['wgi_Regulatory_Quality',pd.DataFrame()], 
          'WGI.RULE.LAW':['wgi_Rule_of_Law',pd.DataFrame()], 
          'WGI.CON.CORR':['wgi_Control_of_Corruption',pd.DataFrame()]}

#wgi_code=['VOIACC','POLISTAB','GOVEFF','REGQUAL','RULELAW','CONCORR']

for i,key in enumerate(wgi_dict.keys()):
    wgi_dict[key][1]=xls.parse(i+1)

for key, value in wgi_dict.items():
    indicator_code[value[0]]=key

In [34]:
def corr_ind_process_wgi (title, abbr, df2):
    
    start_year=1996
    end_year=2018
    
    df=df2.copy()
    
    df=df.rename(columns={"Country/Territory": "Country Name", "Code": "Country Code"})
    df.insert(2, "Indicator Name", [title]*len(df), True)
    df.insert(3, "Indicator Code", [abbr]*len(df), True)
    df.insert(5, "1997", [np.NaN]*len(df), True)
    df.insert(7, "1999", [np.NaN]*len(df), True)
    df.insert(9, "2001", [np.NaN]*len(df), True)
    
    for i in range(1996,2019):
        df=df.rename(columns={i:str(i)})
    
    #print(df)

    for row in df.iterrows():
        #print(wdi_df_filter3.at[row[0],'1996'])
        data_list=[]
        t=True
        for year in range(start_year, end_year+1):
        
            if np.isnan(row[1][str(year)]):
                t=False
            data_list.append(row[1][str(year)])
        #print(t,data_list)
        if t==False:
            year_list=np.arange(start_year,end_year+1,1)
            for i,element in enumerate(data_list):
                if np.isnan(element):
                    data_list[i]=-100
                    year_list[i]=-100
                    
            if data_list.count(-100)>int(len(data_list)*2/3):
                df=df.drop(row[0])
                
            else:
                
                year_list = list(filter(lambda x: x != -100, year_list))
                data_list = list(filter(lambda x: x != -100, data_list))

                slope, intercept, r_value, p_value, std_err = linregress(year_list, data_list)
                #print(slope,intercept)
                for year in range(start_year, end_year+1):
                    if np.isnan(row[1][str(year)]):
                        df.at[row[0], str(year)]=(int(year)*slope+intercept)

    return df

In [35]:
for key, value in wgi_dict.items():
    wgi_dict[key][1]=corr_ind_process_wgi(wgi_dict[key][0],key,wgi_dict[key][1])

wgi_dict['WGI.POLI.STAB'][1].head()

,Country Name,Country Code,Indicator Name,Indicator Code,1996,1997,1998,1999,2000,2001,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,Aruba,ABW,wgi_Political_Stability_No_Violence,WGI.POLI.STAB,1.138600,1.146033,1.153467,1.160900,1.168334,1.175767,...,1.122499,1.100847,1.285738,1.263882,1.312226,1.164568,1.230921,1.284199,1.334757,1.366119
1,Andorra,ADO,wgi_Political_Stability_No_Violence,WGI.POLI.STAB,1.170157,1.240167,1.183645,1.255059,1.167002,1.269950,...,1.296418,1.278272,1.302488,1.290351,1.283926,1.286593,1.391288,1.413419,1.421572,1.425432
2,Afghanistan,AFG,wgi_Political_Stability_No_Violence,WGI.POLI.STAB,-2.414042,-2.225586,-2.422996,-2.266842,-2.440187,-2.308098,...,-2.712689,-2.579152,-2.502060,-2.418561,-2.519349,-2.411068,-2.571222,-2.671054,-2.800609,-2.746730
3,Angola,AGO,wgi_Political_Stability_No_Violence,WGI.POLI.STAB,-2.057286,-1.814769,-2.313072,-1.633870,-2.035583,-1.452971,...,-0.347262,-0.226182,-0.369238,-0.389323,-0.391233,-0.333232,-0.500898,-0.315899,-0.331622,-0.319035
4,Anguilla,AIA,wgi_Political_Stability_No_Violence,WGI.POLI.STAB,0.806066,0.834616,0.863165,0.891715,0.920264,0.948814,...,0.870086,1.373762,1.550928,1.476920,1.533980,1.164255,1.249272,1.315344,1.389161,1.297391

In [36]:
wgi_dict['WGI.POLI.STAB'][1].shape

(212, 27)

In [37]:
wdi_df_filter4['Indicator Name'].value_counts()

GDP per capita (constant 2010 US$)                             128
Total natural resources rents (% of GDP)                       128
Trade (% of GDP)                                               128
General government final consumption expenditure (% of GDP)    128
Foreign direct investment, net inflows (% of GDP)              128
Inflation, GDP deflator (annual %)                             128
Gross fixed capital formation (% of GDP)                       128
Name: Indicator Name, dtype: int64

In [38]:
wdi_df_filter4

,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,...,2011,2012,2013,2014,2015,2016,Country Code,Country Name,Indicator Code,Indicator Name
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,330.303553,343.080890,333.216684,...,528.736648,576.190125,587.565090,583.656193,574.184114,571.073775,AFG,Afghanistan,NY.GDP.PCAP.KD,GDP per capita (constant 2010 US$)
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,103.109203,116.362542,91.585511,...,88.779661,81.586802,74.743909,67.195925,55.125527,47.659055,AFG,Afghanistan,NE.TRD.GNFS.ZS,Trade (% of GDP)
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.516561,9.925977,10.689296,...,12.922250,12.430077,12.085973,12.708667,12.350959,12.405369,AFG,Afghanistan,NE.CON.GOVT.ZS,General government final consumption expenditu...
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.655238,11.271432,...,16.593347,7.301756,4.822785,0.566945,2.447563,5.102713,AFG,Afghanistan,NY.GDP.DEFL.KD.ZG,"Inflation, GDP deflator (annual %)"
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.232992,1.280017,3.575819,...,0.293039,0.284095,0.234965,0.209790,0.849679,0.483360,AFG,Afghanistan,BX.KLT.DINV.WD.GD.ZS,"Foreign direct investment, net inflows (% of GDP)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
891,18.012961,16.939835,16.315076,15.784051,17.790892,24.265345,17.692692,17.923518,17.916263,21.000628,...,18.773919,20.005957,18.438697,19.560283,18.877513,18.123938,ZWE,Zimbabwe,NE.CON.GOVT.ZS,General government final consumption expenditu...
892,3.038538,8.984383,-2.879048,-27.048649,8.006813,0.627900,-0.130890,2.712950,8.801276,7.611524,...,2.553176,4.028577,9.370603,-0.252141,0.607814,2.160993,ZWE,Zimbabwe,NY.GDP.DEFL.KD.ZG,"Inflation, GDP deflator (annual %)"
893,1.655119,0.945851,1.583901,6.940053,0.860307,0.346788,0.056069,0.408381,0.066346,0.149855,...,2.441511,2.044131,1.954060,2.425173,1.999687,1.669274,ZWE,Zimbabwe,BX.KLT.DINV.WD.GD.ZS,"Foreign direct investment, net inflows (% of GDP)"
894,24.577260,18.040491,18.049651,20.601483,2.553699,11.797978,12.117801,10.172491,13.813762,5.107808,...,14.634710,12.148340,9.181371,9.609292,9.995567,9.807839,ZWE,Zimbabwe,NE.GDI.FTOT.ZS,Gross fixed capital formation (% of GDP)
895,7.996337,7.424811,6.462880,4.862512,3.215619,3.622680,3.783198,4.366196,7.118438,9.022544,...,9.472734,8.070786,6.533939,6.999527,6.698087,6.737748,ZWE,Zimbabwe,NY.GDP.TOTL.RT.ZS,Total natural resources rents (% of GDP)

In [39]:
len(final_country_code)

128

In [40]:
wdi_wgi=wdi_df_filter4.copy()

for key, value in wgi_dict.items():
    temp=wdi_wgi[:0]
    for country in final_country_code:
        temp=temp.append(value[1][value[1]['Country Code'] == country])
        
    wdi_wgi=wdi_wgi.append(temp, ignore_index=True, sort=True)

wdi_wgi=wdi_wgi.iloc[:,np.r_[0:2016-1995+1,-4:-0]]
wdi_wgi.head()

,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,...,2011,2012,2013,2014,2015,2016,Country Code,Country Name,Indicator Code,Indicator Name
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,330.303553,343.080890,333.216684,...,528.736648,576.190125,587.565090,583.656193,574.184114,571.073775,AFG,Afghanistan,NY.GDP.PCAP.KD,GDP per capita (constant 2010 US$)
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,103.109203,116.362542,91.585511,...,88.779661,81.586802,74.743909,67.195925,55.125527,47.659055,AFG,Afghanistan,NE.TRD.GNFS.ZS,Trade (% of GDP)
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.516561,9.925977,10.689296,...,12.922250,12.430077,12.085973,12.708667,12.350959,12.405369,AFG,Afghanistan,NE.CON.GOVT.ZS,General government final consumption expenditu...
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.655238,11.271432,...,16.593347,7.301756,4.822785,0.566945,2.447563,5.102713,AFG,Afghanistan,NY.GDP.DEFL.KD.ZG,"Inflation, GDP deflator (annual %)"
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.232992,1.280017,3.575819,...,0.293039,0.284095,0.234965,0.209790,0.849679,0.483360,AFG,Afghanistan,BX.KLT.DINV.WD.GD.ZS,"Foreign direct investment, net inflows (% of GDP)"

In [41]:
wgi_dict['WGI.CON.CORR'][1]

,Country Name,Country Code,Indicator Name,Indicator Code,1996,1997,1998,1999,2000,2001,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,Aruba,ABW,wgi_Control_of_Corruption,WGI.CON.CORR,1.201646,1.201578,1.201511,1.201443,1.201375,1.201308,...,1.116361,1.127209,1.109981,1.102980,1.126605,1.018918,1.297111,1.285848,1.291643,1.252027
1,Andorra,ADO,wgi_Control_of_Corruption,WGI.CON.CORR,1.318143,1.342292,1.377704,1.331269,1.359712,1.320246,...,1.325579,1.308072,1.279277,1.268373,1.260798,1.225222,1.218502,1.228779,1.242215,1.238614
2,Afghanistan,AFG,wgi_Control_of_Corruption,WGI.CON.CORR,-1.291705,-1.307016,-1.180848,-1.329631,-1.295380,-1.352246,...,-1.534796,-1.635723,-1.579179,-1.419888,-1.436761,-1.354784,-1.341994,-1.526352,-1.517341,-1.496648
3,Angola,AGO,wgi_Control_of_Corruption,WGI.CON.CORR,-1.167702,-1.300543,-1.405836,-1.304847,-1.522685,-1.309152,...,-1.404655,-1.325730,-1.344287,-1.268587,-1.309700,-1.443890,-1.394778,-1.439703,-1.412488,-1.144541
4,Anguilla,AIA,wgi_Control_of_Corruption,WGI.CON.CORR,1.142697,1.148947,1.155198,1.161448,1.167698,1.173949,...,1.325579,1.308072,1.279277,1.268373,1.260798,1.225222,1.218502,1.228779,1.242215,1.238614
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
209,Serbia,SRB,wgi_Control_of_Corruption,WGI.CON.CORR,-1.140072,-0.940547,-1.200814,-0.860231,-1.177213,-0.779915,...,-0.312435,-0.294709,-0.273361,-0.329703,-0.300933,-0.226996,-0.267050,-0.322479,-0.375113,-0.370215
210,South Africa,ZAF,wgi_Control_of_Corruption,WGI.CON.CORR,0.732927,0.674489,0.674444,0.597929,0.625336,0.521368,...,0.182197,0.131468,0.061732,-0.115579,-0.070049,-0.061535,0.025145,0.118391,-0.021827,-0.021569
211,"Congo, Dem. Rep.",ZAR,wgi_Control_of_Corruption,WGI.CON.CORR,-1.647852,-1.540738,-1.722926,-1.518693,-1.548999,-1.496647,...,-1.389180,-1.437921,-1.427513,-1.312269,-1.318193,-1.300999,-1.285265,-1.337323,-1.418120,-1.503398
212,Zambia,ZMB,wgi_Control_of_Corruption,WGI.CON.CORR,-0.840641,-0.724650,-0.773145,-0.688342,-0.715778,-0.652035,...,-0.461074,-0.506078,-0.396322,-0.284295,-0.306790,-0.342243,-0.341262,-0.401866,-0.542213,-0.656136
213,Zimbabwe,ZWE,wgi_Control_of_Corruption,WGI.CON.CORR,-0.278847,-0.868836,-0.480248,-0.931035,-0.982141,-0.993234,...,-1.355277,-1.368883,-1.401749,-1.368143,-1.404895,-1.391291,-1.310461,-1.259387,-1.273584,-1.235616

In [42]:
wdi_wgi.shape

(1652, 26)

In [43]:
# load icrg

xls2 = pd.ExcelFile(corrpution_ind_directory+'/'+'icrg20162.xls')

icrg_dict={'ICRG.GOV.STAB':['icrg_Government_Stability',pd.DataFrame()], 
          'ICRG.SOCIO.COND':['ircg_Socioeconomic_Conditions',pd.DataFrame()],
          'ICRG.INVEST.PROF':['icrg_Investment_Profile',pd.DataFrame()],
          'ICRG.INTNAL.CONFLIT':['icrg_Internal_Conflict',pd.DataFrame()], 
          'ICRG.EXTER.CONFLIT':['icrg_External_Conflict',pd.DataFrame()], 
          'ICRG.CORR':['icrg_Corruption',pd.DataFrame()],
          'ICRG.MILI.POLIT':['icrg_Military_in_Politics',pd.DataFrame()],
          'ICRG.RELIG.TENS':['icrg_Religious_Tensions',pd.DataFrame()],
          'ICRG.LAW.ORD':['icrg_Law_and_Order',pd.DataFrame()],
          'ICRG.ETHN.TENS':['icrg_Ethnic_Tensions',pd.DataFrame()],
          'ICRG.DEMO.ACC':['icrg_Democratic_Accountability',pd.DataFrame()],
          'ICRG.BUREAU.QUAL':['icrg_Bureaucracy_Quality',pd.DataFrame()]}

for i,key in enumerate(icrg_dict.keys()):
    icrg_dict[key][1]=xls2.parse(i+1)

for key, value in icrg_dict.items():
    indicator_code[value[0]]=key

In [44]:
len(set(final_country_code)&set(icrg_dict['ICRG.SOCIO.COND'][1]['Country Code'].values))

94

In [45]:
def corr_ind_process_icrg (title, abbr, df2):
    
    start_year=1984
    end_year=2016
    
    df=df2.copy()
    
    df.insert(2, "Indicator Name", [title]*len(df), True)
    df.insert(3, "Indicator Code", [abbr]*len(df), True)
    
    for i in range(1984,2017):
        df=df.rename(columns={i:str(i)})
    
    return df

In [46]:
for key, value in icrg_dict.items():
    icrg_dict[key][1]=corr_ind_process_icrg(icrg_dict[key][0],key,icrg_dict[key][1])

In [47]:
icrg_dict['ICRG.BUREAU.QUAL'][1].head()

,Country Name,Country Code,Indicator Name,Indicator Code,1984,1985,1986,1987,1988,1989,...,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
0,Albania,ALB,icrg_Bureaucracy_Quality,ICRG.BUREAU.QUAL,1.0,1.0,1.0,1.0,1.000000,1.0,...,2.000000,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0
1,Algeria,DZA,icrg_Bureaucracy_Quality,ICRG.BUREAU.QUAL,1.0,1.0,1.0,1.0,2.083333,3.0,...,2.000000,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0
2,Angola,AGO,icrg_Bureaucracy_Quality,ICRG.BUREAU.QUAL,2.0,2.0,2.0,2.0,2.000000,2.0,...,1.333333,1.5,1.5,1.5,1.5,1.5,1.5,1.5,1.5,1.5
3,Argentina,ARG,icrg_Bureaucracy_Quality,ICRG.BUREAU.QUAL,2.0,2.0,2.0,2.0,2.000000,2.0,...,3.000000,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0
4,Armenia,ARM,icrg_Bureaucracy_Quality,ICRG.BUREAU.QUAL,NaN,NaN,NaN,NaN,NaN,NaN,...,1.000000,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0

In [48]:
wdi_df_filter5=wdi_df_filter4.copy()
len(wdi_df_filter5)//7

128

In [49]:
len(final_country_code)

128

In [50]:
# final merge

wdi_wgi_icrg=wdi_df_filter5.copy()

for key, value in wgi_dict.items():
    temp=wdi_wgi_icrg[:0]
    for country in final_country_code:
        temp=temp.append(value[1][value[1]['Country Code'] == country])
        
    wdi_wgi_icrg=wdi_wgi_icrg.append(temp, ignore_index=True, sort=True)

wdi_wgi_icrg=wdi_wgi_icrg.iloc[:,np.r_[0:2017-1995,-4:-0]]
wdi_wgi_icrg.head()

,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,...,2011,2012,2013,2014,2015,2016,Country Code,Country Name,Indicator Code,Indicator Name
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,330.303553,343.080890,333.216684,...,528.736648,576.190125,587.565090,583.656193,574.184114,571.073775,AFG,Afghanistan,NY.GDP.PCAP.KD,GDP per capita (constant 2010 US$)
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,103.109203,116.362542,91.585511,...,88.779661,81.586802,74.743909,67.195925,55.125527,47.659055,AFG,Afghanistan,NE.TRD.GNFS.ZS,Trade (% of GDP)
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.516561,9.925977,10.689296,...,12.922250,12.430077,12.085973,12.708667,12.350959,12.405369,AFG,Afghanistan,NE.CON.GOVT.ZS,General government final consumption expenditu...
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.655238,11.271432,...,16.593347,7.301756,4.822785,0.566945,2.447563,5.102713,AFG,Afghanistan,NY.GDP.DEFL.KD.ZG,"Inflation, GDP deflator (annual %)"
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.232992,1.280017,3.575819,...,0.293039,0.284095,0.234965,0.209790,0.849679,0.483360,AFG,Afghanistan,BX.KLT.DINV.WD.GD.ZS,"Foreign direct investment, net inflows (% of GDP)"

In [51]:
wdi_wgi_icrg.shape

(1652, 26)

In [52]:
wdi_wgi_icrg['Indicator Code'].value_counts()

NE.GDI.FTOT.ZS          128
NY.GDP.DEFL.KD.ZG       128
BX.KLT.DINV.WD.GD.ZS    128
NE.CON.GOVT.ZS          128
NY.GDP.TOTL.RT.ZS       128
NE.TRD.GNFS.ZS          128
NY.GDP.PCAP.KD          128
WGI.VOI.ACC             126
WGI.POLI.STAB           126
WGI.RULE.LAW            126
WGI.GOV.EFF             126
WGI.CON.CORR            126
WGI.REG.QUAL            126
Name: Indicator Code, dtype: int64

In [53]:
wdi_wgi_icrg.isna().sum()

1995              845
1996               86
1997               81
1998               80
1999               78
2000               54
2001               48
2002               40
2003               38
2004               37
2005               36
2006               32
2007               27
2008               23
2009               23
2010               17
2011               17
2012               23
2013               21
2014               19
2015               30
2016               37
Country Code        0
Country Name        0
Indicator Code      0
Indicator Name      0
dtype: int64

In [54]:
wdi_wgi_icrg.to_csv(wdi_directory+'/'+'df_wdi_wgi_na.csv')

In [55]:
for key, value in icrg_dict.items():
    temp=wdi_wgi_icrg[:0]
    for country in final_country_code:
        temp=temp.append(value[1].iloc[:,np.r_[0:4,-(2016-1994):-0]][value[1]['Country Code'] == country])
    #print(temp.shape)
    wdi_wgi_icrg=wdi_wgi_icrg.append(temp, ignore_index=True, sort=True)

#wdi_wgi_icrg=wdi_wgi_icrg.iloc[:,np.r_[0:4,1997-1984+4:2017-1984+4]]
wdi_wgi_icrg.head()

,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,...,2011,2012,2013,2014,2015,2016,Country Code,Country Name,Indicator Code,Indicator Name
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,330.303553,343.080890,333.216684,...,528.736648,576.190125,587.565090,583.656193,574.184114,571.073775,AFG,Afghanistan,NY.GDP.PCAP.KD,GDP per capita (constant 2010 US$)
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,103.109203,116.362542,91.585511,...,88.779661,81.586802,74.743909,67.195925,55.125527,47.659055,AFG,Afghanistan,NE.TRD.GNFS.ZS,Trade (% of GDP)
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.516561,9.925977,10.689296,...,12.922250,12.430077,12.085973,12.708667,12.350959,12.405369,AFG,Afghanistan,NE.CON.GOVT.ZS,General government final consumption expenditu...
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.655238,11.271432,...,16.593347,7.301756,4.822785,0.566945,2.447563,5.102713,AFG,Afghanistan,NY.GDP.DEFL.KD.ZG,"Inflation, GDP deflator (annual %)"
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.232992,1.280017,3.575819,...,0.293039,0.284095,0.234965,0.209790,0.849679,0.483360,AFG,Afghanistan,BX.KLT.DINV.WD.GD.ZS,"Foreign direct investment, net inflows (% of GDP)"

In [56]:
icrg_dict['ICRG.GOV.STAB'][1].iloc[:,np.r_[-(2016-1994):-0]]

,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,...,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
0,5.583333,8.333333,8.083333,9.750000,9.416667,9.333333,9.458333,9.000000,9.166667,7.375000,...,7.958333,7.750000,7.958333,7.291667,5.708333,5.708333,7.166667,8.208333,7.333333,7.291667
1,6.333333,8.666667,10.500000,10.500000,10.000000,9.833333,8.166667,8.583333,8.083333,8.750000,...,9.416667,9.000000,9.750000,9.833333,6.666667,5.875000,6.000000,7.000000,7.333333,6.916667
2,5.666667,7.833333,8.916667,10.250000,10.583333,11.000000,10.750000,9.625000,9.750000,10.000000,...,9.500000,9.833333,10.500000,10.250000,8.750000,8.166667,8.375000,7.083333,6.916667,6.541667
3,7.500000,7.666667,7.583333,9.333333,10.000000,10.333333,8.208333,5.333333,6.833333,8.625000,...,9.833333,7.166667,5.875000,5.666667,7.375000,7.333333,5.083333,5.333333,7.125000,7.375000
4,NaN,NaN,NaN,NaN,10.250000,8.750000,7.500000,7.000000,8.291667,8.625000,...,8.541667,9.291667,9.166667,7.958333,7.333333,7.291667,7.791667,6.000000,5.125000,5.916667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
135,6.000000,6.000000,8.083333,8.833333,10.500000,9.750000,9.000000,6.166667,7.083333,7.958333,...,9.958333,9.083333,8.708333,7.833333,7.166667,6.208333,5.375000,5.208333,5.000000,5.000000
136,7.416667,9.583333,10.833333,9.583333,9.916667,11.000000,10.291667,10.166667,10.500000,10.500000,...,10.500000,10.500000,10.500000,10.416667,8.458333,7.916667,6.583333,6.708333,8.000000,8.000000
137,6.333333,8.916667,10.166667,10.666667,10.166667,11.000000,10.166667,9.500000,10.166667,10.500000,...,10.458333,10.500000,9.625000,9.000000,6.333333,7.291667,7.000000,7.125000,4.583333,5.291667
138,4.666667,4.000000,6.750000,9.083333,10.000000,9.500000,7.750000,4.458333,5.958333,7.000000,...,7.041667,7.541667,7.958333,7.500000,7.625000,7.333333,6.166667,5.500000,6.666667,7.208333
139,5.583333,5.916667,8.833333,9.166667,8.666667,8.750000,8.666667,8.208333,8.166667,7.375000,...,6.666667,5.833333,6.166667,5.791667,5.708333,6.000000,6.666667,6.833333,6.000000,6.000000

In [57]:
wdi_wgi_icrg.shape

(2780, 26)

In [58]:
wdi_wgi_icrg['Indicator Code'].value_counts()

NE.GDI.FTOT.ZS          128
NY.GDP.TOTL.RT.ZS       128
NE.TRD.GNFS.ZS          128
BX.KLT.DINV.WD.GD.ZS    128
NY.GDP.DEFL.KD.ZG       128
NY.GDP.PCAP.KD          128
NE.CON.GOVT.ZS          128
WGI.VOI.ACC             126
WGI.REG.QUAL            126
WGI.GOV.EFF             126
WGI.POLI.STAB           126
WGI.CON.CORR            126
WGI.RULE.LAW            126
ICRG.BUREAU.QUAL         94
ICRG.INTNAL.CONFLIT      94
ICRG.LAW.ORD             94
ICRG.MILI.POLIT          94
ICRG.GOV.STAB            94
ICRG.SOCIO.COND          94
ICRG.EXTER.CONFLIT       94
ICRG.DEMO.ACC            94
ICRG.RELIG.TENS          94
ICRG.INVEST.PROF         94
ICRG.CORR                94
ICRG.ETHN.TENS           94
Name: Indicator Code, dtype: int64

In [59]:
wdi_wgi_icrg.isna().sum()

1995              929
1996              170
1997              165
1998              140
1999               90
2000               66
2001               60
2002               52
2003               50
2004               49
2005               48
2006               32
2007               27
2008               23
2009               23
2010               17
2011               17
2012               23
2013               21
2014               19
2015               30
2016               37
Country Code        0
Country Name        0
Indicator Code      0
Indicator Name      0
dtype: int64

In [60]:
wdi_wgi_icrg.to_csv(wdi_directory+'/'+'df_wdi_wgi_icrg_na.csv')

### transfer to the panel

In [61]:
# set the final panel df

panel=wdi_wgi_icrg.copy()

In [62]:
panel[panel['Indicator Code']=='WGI.REG.QUAL']

,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,...,2011,2012,2013,2014,2015,2016,Country Code,Country Name,Indicator Code,Indicator Name
1274,NaN,0.141709,0.140553,-0.016372,0.090504,-0.021936,0.040455,-0.121390,0.026581,-0.092595,...,-0.192298,-0.188614,-0.331638,-0.382595,-0.405311,-0.470093,TUN,Tunisia,WGI.REG.QUAL,wgi_Regulatory_Quality
1275,NaN,0.094098,0.344974,-0.030082,0.368601,0.081005,0.392228,0.722360,0.706246,0.655456,...,0.323657,0.471573,0.475800,0.692389,0.574510,0.610466,OMN,Oman,WGI.REG.QUAL,wgi_Regulatory_Quality
1276,NaN,-0.425953,-0.615037,-0.528268,-0.610331,-0.468976,-0.605625,-0.584606,-0.634573,-0.778000,...,-0.516076,-0.512269,-0.509556,-0.344882,-0.552603,-0.555990,PNG,Papua New Guinea,WGI.REG.QUAL,wgi_Regulatory_Quality
1277,NaN,-0.891484,-0.934286,-0.836650,-0.982154,-0.863077,-1.030022,-1.079601,-1.104644,-1.204948,...,-1.191609,-1.077462,-1.172318,-1.393427,-1.439941,-1.427307,CAF,Central African Republic,WGI.REG.QUAL,wgi_Regulatory_Quality
1278,NaN,-0.308263,-0.103972,-0.267662,-0.083282,-0.103355,-0.062592,-0.045104,0.113586,0.049932,...,0.028119,0.103154,0.082790,-0.003618,0.025131,0.079331,SAU,Saudi Arabia,WGI.REG.QUAL,wgi_Regulatory_Quality
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1395,NaN,-0.298122,-0.281523,-0.055873,-0.294691,-0.082964,-0.307859,-0.113313,-0.371155,-0.321624,...,-0.210015,-0.332078,-0.313033,-0.434673,-0.502660,-0.352632,KGZ,Kyrgyz Republic,WGI.REG.QUAL,wgi_Regulatory_Quality
1396,NaN,-0.308691,-0.369374,-0.268656,-0.543161,-0.520619,-0.716948,-0.642584,-1.021271,-1.102264,...,-1.481942,-1.517801,-1.630421,-1.815137,-1.884915,-1.996754,VEN,"Venezuela, RB",WGI.REG.QUAL,wgi_Regulatory_Quality
1397,NaN,-1.677682,-1.640101,-1.140648,-1.564938,-1.389850,-1.489776,-1.687841,-2.625506,-1.317755,...,-1.044504,-1.041204,-1.103141,-1.080401,-0.946226,-0.958007,SLB,Solomon Islands,WGI.REG.QUAL,wgi_Regulatory_Quality
1398,NaN,0.131713,0.291101,0.209376,0.295002,0.253666,0.298903,0.453281,0.363714,0.426816,...,0.279925,0.477124,0.468943,0.425959,0.357726,0.287122,MEX,Mexico,WGI.REG.QUAL,wgi_Regulatory_Quality
1399,NaN,-0.102563,-0.128367,-0.023237,-0.134680,-0.033529,-0.140993,-0.139191,-0.265645,-0.247350,...,-0.117086,-0.083183,-0.116067,-0.130392,-0.170745,-0.234950,MAR,Morocco,WGI.REG.QUAL,wgi_Regulatory_Quality

In [63]:
# link the code to name as dict

len(final_country_code)

128

In [64]:
final_country_code

{'AFG',
 'AGO',
 'ALB',
 'ARE',
 'ARG',
 'ARM',
 'AZE',
 'BDI',
 'BEN',
 'BFA',
 'BGD',
 'BHR',
 'BHS',
 'BIH',
 'BLR',
 'BLZ',
 'BOL',
 'BRA',
 'BRB',
 'BRN',
 'BTN',
 'BWA',
 'CAF',
 'CHL',
 'CHN',
 'CIV',
 'CMR',
 'COD',
 'COG',
 'COL',
 'COM',
 'CPV',
 'CRI',
 'DJI',
 'DOM',
 'DZA',
 'ECU',
 'EGY',
 'ERI',
 'ETH',
 'GAB',
 'GEO',
 'GHA',
 'GIN',
 'GMB',
 'GNB',
 'GNQ',
 'GTM',
 'GUY',
 'HKG',
 'HND',
 'HTI',
 'IDN',
 'IND',
 'IRN',
 'IRQ',
 'ISR',
 'JAM',
 'JOR',
 'KAZ',
 'KEN',
 'KGZ',
 'KHM',
 'KOR',
 'LAO',
 'LBN',
 'LBR',
 'LBY',
 'LKA',
 'LSO',
 'MAR',
 'MDA',
 'MDG',
 'MEX',
 'MKD',
 'MLI',
 'MMR',
 'MNE',
 'MNG',
 'MOZ',
 'MRT',
 'MUS',
 'MWI',
 'MYS',
 'NAM',
 'NER',
 'NGA',
 'NIC',
 'NPL',
 'OMN',
 'PAK',
 'PAN',
 'PER',
 'PHL',
 'PNG',
 'PRY',
 'RUS',
 'RWA',
 'SAU',
 'SDN',
 'SEN',
 'SGP',
 'SLB',
 'SLE',
 'SLV',
 'SRB',
 'SSD',
 'SUR',
 'SWZ',
 'TCD',
 'TGO',
 'THA',
 'TJK',
 'TKM',
 'TLS',
 'TUN',
 'TUR',
 'TZA',
 'UGA',
 'UKR',
 'URY',
 'UZB',
 'VEN',
 'VNM',
 'VUT',
 'ZAF',
 'ZMB',
 'ZWE'}

In [65]:
country_name_dict={}

for code in final_country_code:
    temp=panel[panel['Country Code']==code]
    country_name_dict[code]=list(set(temp['Country Name'].values))[0]

In [66]:
len(country_name_dict)

128

In [67]:
# tranfer some indicator codes
indicator_name_dict={}

for key, value in indicator_code.items():

    temp=panel[panel['Indicator Code']==value]
    #print(key,value, temp)
    indicator_name_dict[value]=list(set(temp['Indicator Name'].values))[0]

In [68]:
indicator_name_dict

{'NY.GDP.PCAP.KD': 'GDP per capita (constant 2010 US$)',
 'NE.TRD.GNFS.ZS': 'Trade (% of GDP)',
 'NE.CON.GOVT.ZS': 'General government final consumption expenditure (% of GDP)',
 'NY.GDP.DEFL.KD.ZG': 'Inflation, GDP deflator (annual %)',
 'BX.KLT.DINV.WD.GD.ZS': 'Foreign direct investment, net inflows (% of GDP)',
 'NE.GDI.FTOT.ZS': 'Gross fixed capital formation (% of GDP)',
 'NY.GDP.TOTL.RT.ZS': 'Total natural resources rents (% of GDP)',
 'WGI.VOI.ACC': 'wgi_Voice_and_Accountability',
 'WGI.POLI.STAB': 'wgi_Political_Stability_No_Violence',
 'WGI.GOV.EFF': 'wgi_Government_Effectiveness',
 'WGI.REG.QUAL': 'wgi_Regulatory_Quality',
 'WGI.RULE.LAW': 'wgi_Rule_of_Law',
 'WGI.CON.CORR': 'wgi_Control_of_Corruption',
 'ICRG.GOV.STAB': 'icrg_Government_Stability',
 'ICRG.SOCIO.COND': 'ircg_Socioeconomic_Conditions',
 'ICRG.INVEST.PROF': 'icrg_Investment_Profile',
 'ICRG.INTNAL.CONFLIT': 'icrg_Internal_Conflict',
 'ICRG.EXTER.CONFLIT': 'icrg_External_Conflict',
 'ICRG.CORR': 'icrg_Corruption',
 'ICRG.MILI.POLIT': 'icrg_Military_in_Politics',
 'ICRG.RELIG.TENS': 'icrg_Religious_Tensions',
 'ICRG.LAW.ORD': 'icrg_Law_and_Order',
 'ICRG.ETHN.TENS': 'icrg_Ethnic_Tensions',
 'ICRG.DEMO.ACC': 'icrg_Democratic_Accountability',
 'ICRG.BUREAU.QUAL': 'icrg_Bureaucracy_Quality'}

In [69]:
for key, value in indicator_name_dict.items():
    if 'WGI' not in key and 'ICRG' not in key:
        
        if key=='NY.GDP.PCAP.KD':
            panel=panel.replace({'Indicator Code': key}, 'WDI.GDP.PCAP.KD')
            indicator_name_dict['WDI.GDP.PCAP.KD']=value
            del indicator_name_dict[key]
        elif key=='NE.TRD.GNFS.ZS':
            panel=panel.replace({'Indicator Code': key}, 'WDI.TRADE.PER.GDP')
            indicator_name_dict['WDI.TRADE.PER.GDP']=value
            del indicator_name_dict[key]
        elif key=='NE.CON.GOVT.ZS':
            panel=panel.replace({'Indicator Code': key}, 'WDI.GOV.CONSUM.PER.GDP')
            indicator_name_dict['WDI.GOV.CONSUM.PER.GDP']=value
            del indicator_name_dict[key]
        elif key=='NY.GDP.DEFL.KD.ZG':
            panel=panel.replace({'Indicator Code': key}, 'WDI.INFLATION.KD.PER')
            indicator_name_dict['WDI.INFLATION.KD.PER']=value
            del indicator_name_dict[key]
        elif key=='BX.KLT.DINV.WD.GD.ZS':
            panel=panel.replace({'Indicator Code': key}, 'WDI.NET.INFLOW.FDI.PER.GDP')
            indicator_name_dict['WDI.NET.INFLOW.FDI.PER.GDP']=value
            del indicator_name_dict[key]
        elif key=='NY.GDP.TOTL.RT.ZS':
            panel=panel.replace({'Indicator Code': key}, 'WDI.NATUR.RESOUR.PER.GDP')
            indicator_name_dict['WDI.NATUR.RESOUR.PER.GDP']=value
            del indicator_name_dict[key]
        elif key=='NE.GDI.FTOT.ZS':
            panel=panel.replace({'Indicator Code': key}, 'WDI.CAPI.INVEST.PER.GDP')
            indicator_name_dict['WDI.CAPI.INVEST.PER.GDP']=value
            del indicator_name_dict[key]

In [70]:
indicator_name_dict

{'WGI.VOI.ACC': 'wgi_Voice_and_Accountability',
 'WGI.POLI.STAB': 'wgi_Political_Stability_No_Violence',
 'WGI.GOV.EFF': 'wgi_Government_Effectiveness',
 'WGI.REG.QUAL': 'wgi_Regulatory_Quality',
 'WGI.RULE.LAW': 'wgi_Rule_of_Law',
 'WGI.CON.CORR': 'wgi_Control_of_Corruption',
 'ICRG.GOV.STAB': 'icrg_Government_Stability',
 'ICRG.SOCIO.COND': 'ircg_Socioeconomic_Conditions',
 'ICRG.INVEST.PROF': 'icrg_Investment_Profile',
 'ICRG.INTNAL.CONFLIT': 'icrg_Internal_Conflict',
 'ICRG.EXTER.CONFLIT': 'icrg_External_Conflict',
 'ICRG.CORR': 'icrg_Corruption',
 'ICRG.MILI.POLIT': 'icrg_Military_in_Politics',
 'ICRG.RELIG.TENS': 'icrg_Religious_Tensions',
 'ICRG.LAW.ORD': 'icrg_Law_and_Order',
 'ICRG.ETHN.TENS': 'icrg_Ethnic_Tensions',
 'ICRG.DEMO.ACC': 'icrg_Democratic_Accountability',
 'ICRG.BUREAU.QUAL': 'icrg_Bureaucracy_Quality',
 'WDI.GDP.PCAP.KD': 'GDP per capita (constant 2010 US$)',
 'WDI.TRADE.PER.GDP': 'Trade (% of GDP)',
 'WDI.GOV.CONSUM.PER.GDP': 'General government final consumption expenditure (% of GDP)',
 'WDI.INFLATION.KD.PER': 'Inflation, GDP deflator (annual %)',
 'WDI.NET.INFLOW.FDI.PER.GDP': 'Foreign direct investment, net inflows (% of GDP)',
 'WDI.CAPI.INVEST.PER.GDP': 'Gross fixed capital formation (% of GDP)',
 'WDI.NATUR.RESOUR.PER.GDP': 'Total natural resources rents (% of GDP)'}

In [71]:
# switch the row and column
# panel2 mainly drop the names of country and indicator

panel2=panel.copy()
panel2=panel2.drop(['Country Name','Indicator Name'],axis=1)
panel2.head()

,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,...,2009,2010,2011,2012,2013,2014,2015,2016,Country Code,Indicator Code
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,330.303553,343.080890,333.216684,...,488.300251,543.303042,528.736648,576.190125,587.565090,583.656193,574.184114,571.073775,AFG,WDI.GDP.PCAP.KD
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,103.109203,116.362542,91.585511,...,89.364874,81.324485,88.779661,81.586802,74.743909,67.195925,55.125527,47.659055,AFG,WDI.TRADE.PER.GDP
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.516561,9.925977,10.689296,...,11.737928,14.408498,12.922250,12.430077,12.085973,12.708667,12.350959,12.405369,AFG,WDI.GOV.CONSUM.PER.GDP
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.655238,11.271432,...,-2.163404,3.814630,16.593347,7.301756,4.822785,0.566945,2.447563,5.102713,AFG,WDI.INFLATION.KD.PER
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.232992,1.280017,3.575819,...,0.451056,1.203125,0.293039,0.284095,0.234965,0.209790,0.849679,0.483360,AFG,WDI.NET.INFLOW.FDI.PER.GDP

In [72]:
panel2[panel2['Country Code']=='CHN'].iloc[:,np.r_[0:22,-1:-0]]

,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,Indicator Code
189,1224.848821,1332.417309,1440.590250,1538.662844,1642.357488,1767.833627,1901.407630,2061.162284,2253.929689,2467.132843,...,3796.633363,4132.902312,4550.453596,4961.234689,5325.160106,5710.587873,6096.487817,6484.435948,6883.895425,WDI.GDP.PCAP.KD
190,34.274096,33.814745,34.533017,32.424696,33.524567,39.410539,38.527359,42.747404,51.803988,59.505524,...,57.612718,45.184876,50.717072,50.740903,48.267518,46.744378,45.065047,39.629007,37.210198,WDI.TRADE.PER.GDP
191,13.245976,13.126225,13.651528,14.834816,16.238980,16.633346,16.089997,15.603177,14.676877,13.902021,...,13.196161,13.218093,12.845916,13.216802,13.475446,13.588584,13.375250,14.036066,14.386256,WDI.GOV.CONSUM.PER.GDP
192,13.670539,6.501096,1.622160,-0.892589,-1.268410,2.061461,2.043115,0.604851,2.605441,6.954322,...,7.791802,-0.210534,6.881145,8.075596,2.335121,2.161019,0.791193,0.062699,1.072756,WDI.INFLATION.KD.PER
193,4.880444,4.651827,4.725334,4.435577,3.749004,3.475082,3.513002,3.609100,3.487403,3.483641,...,3.733635,2.568889,4.003562,3.708829,2.827090,3.039876,2.568343,2.201338,1.568957,WDI.NET.INFLOW.FDI.PER.GDP
194,33.187888,32.472640,31.817306,33.747599,33.392197,33.434042,34.334184,35.982464,39.269104,40.576957,...,40.095246,44.971750,45.090660,45.020055,45.415859,45.689876,45.230291,43.951330,42.980741,WDI.CAPI.INVEST.PER.GDP
195,2.973703,2.818414,2.237444,1.387604,1.493262,2.525942,2.544930,1.891778,2.093710,4.849319,...,9.912892,4.067064,6.374115,7.991595,4.150960,3.083219,2.448096,1.355872,1.257736,WDI.NATUR.RESOUR.PER.GDP
942,NaN,-1.361545,-1.492965,-1.437438,-1.507652,-1.384081,-1.522339,-1.594193,-1.512429,-1.462464,...,-1.699497,-1.701171,-1.680548,-1.637609,-1.637941,-1.631409,-1.616668,-1.660777,-1.561287,WGI.VOI.ACC
1068,NaN,-0.095957,-0.354823,-0.391394,-0.370607,-0.208934,-0.386391,-0.327094,-0.563666,-0.390192,...,-0.491275,-0.449346,-0.657061,-0.602055,-0.538782,-0.543790,-0.522584,-0.550295,-0.499395,WGI.POLI.STAB
1194,NaN,-0.348654,-0.250303,-0.119982,-0.189626,-0.108963,-0.128948,-0.060271,-0.082088,-0.055238,...,0.150768,0.093804,0.088649,0.088202,0.023426,0.003648,0.322888,0.407864,0.354875,WGI.GOV.EFF
1320,NaN,-0.266653,-0.320127,-0.301304,-0.308208,-0.339290,-0.296289,-0.513172,-0.333369,-0.308697,...,-0.154791,-0.223832,-0.234011,-0.221428,-0.240820,-0.287980,-0.282993,-0.289439,-0.264475,WGI.REG.QUAL
1446,NaN,-0.545590,-0.586861,-0.457054,-0.564651,-0.527161,-0.542442,-0.497730,-0.529827,-0.529340,...,-0.419797,-0.407051,-0.409916,-0.464836,-0.542890,-0.524590,-0.414477,-0.409797,-0.334415,WGI.RULE.LAW
1572,NaN,-0.271190,-0.440247,-0.268112,-0.435055,-0.218289,-0.429862,-0.518246,-0.359454,-0.559694,...,-0.520295,-0.514938,-0.561643,-0.507114,-0.435701,-0.358352,-0.340069,-0.282107,-0.254059,WGI.CON.CORR
1686,7.666667,9.583333,10.750000,11.166667,11.250000,12.000000,10.708333,10.500000,10.875000,11.000000,...,10.666667,10.500000,10.250000,8.458333,8.166667,9.000000,8.875000,8.875000,7.541667,ICRG.GOV.STAB
1780,7.500000,6.666667,7.000000,6.500000,4.500000,4.000000,6.000000,6.666667,6.583333,6.958333,...,7.791667,7.708333,8.000000,7.125000,7.041667,7.041667,7.000000,7.000000,7.375000,ICRG.SOCIO.COND
1874,5.333333,7.500000,7.583333,6.166667,6.250000,8.416667,8.333333,7.500000,7.500000,7.416667,...,7.000000,7.000000,6.500000,6.583333,7.083333,7.500000,6.250000,6.000000,6.000000,ICRG.INVEST.PROF
1968,11.000000,11.166667,10.916667,10.000000,10.000000,10.000000,10.083333,10.708333,11.333333,11.375000,...,9.625000,9.333333,9.250000,8.791667,8.833333,8.500000,7.416667,7.000000,7.083333,ICRG.INTNAL.CONFLIT
2062,10.666667,9.333333,9.916667,10.416667,9.083333,10.000000,9.458333,10.916667,11.000000,10.916667,...,10.000000,9.958333,9.375000,9.333333,9.500000,8.916667,8.000000,8.000000,7.500000,ICRG.EXTER.CONFLIT
2156,4.000000,2.000000,2.000000,2.000000,2.000000,1.083333,1.000000,1.000000,1.916667,2.000000,...,2.500000,2.500000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,ICRG.CORR
2250,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.458333,2.875000,3.000000,...,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,ICRG.MILI.POLIT
2344,6.000000,6.000000,6.000000,6.000000,5.333333,3.166667,3.666667,4.125000,4.916667,5.000000,...,5.000000,5.000000,5.000000,5.000000,5.000000,4.833333,4.000000,4.000000,4.000000,ICRG.RELIG.TENS
2438,5.000000,5.000000,5.000000,5.000000,5.000000,4.750000,4.000000,4.500000,4.500000,4.500000,...,4.500000,4.500000,4.083333,3.625000,3.500000,3.500000,3.500000,3.500000,3.500000,ICRG.LAW.ORD
2532,5.000000,5.500000,4.166667,4.000000,4.000000,4.000000,4.000000,4.916667,5.000000,5.000000,...,4.500000,4.000000,3.500000,3.500000,3.500000,3.500000,3.500000,3.500000,3.500000,ICRG.ETHN.TENS
2626,2.000000,2.000000,1.500000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.500000,1.500000,1.500000,1.500000,1.500000,1.500000,1.500000,1.500000,1.500000,ICRG.DEMO.ACC
2720,2.666667,2.500000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,...,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,ICRG.BUREAU.QUAL

In [73]:
# do the T
panel_T=pd.DataFrame()

for country in country_name_dict.keys():
    
    temp=panel2[panel2['Country Code']==country]
    temp=temp.iloc[:,np.r_[0:22,-1:-0]]
    temp=temp.set_index('Indicator Code').T
    
    # extract year column
    temp=temp.reset_index()
    
    temp=temp.rename(columns={"index": "Year"})
    
    temp.columns.name = None
    
    temp.insert(0, 'Country Code', country)
    
    #print(temp)
    #break
    temp=temp.sort_values(['Country Code','Year'])
    
    panel_T=panel_T.append(temp, sort=True)

In [74]:
panel_T=panel_T.reset_index()

In [75]:
panel_T=panel_T.drop(['index'],axis=1)

In [76]:
panel_T

,Country Code,ICRG.BUREAU.QUAL,ICRG.CORR,ICRG.DEMO.ACC,ICRG.ETHN.TENS,ICRG.EXTER.CONFLIT,ICRG.GOV.STAB,ICRG.INTNAL.CONFLIT,ICRG.INVEST.PROF,ICRG.LAW.ORD,...,WDI.NATUR.RESOUR.PER.GDP,WDI.NET.INFLOW.FDI.PER.GDP,WDI.TRADE.PER.GDP,WGI.CON.CORR,WGI.GOV.EFF,WGI.POLI.STAB,WGI.REG.QUAL,WGI.RULE.LAW,WGI.VOI.ACC,Year
0,TUN,2.0,3.000000,2.916667,4.5,10.000000,7.583333,11.583333,7.000000,4.500000,...,2.741815,1.530549,93.714447,NaN,NaN,NaN,NaN,NaN,NaN,1995
1,TUN,2.0,3.000000,2.000000,5.0,10.000000,9.000000,12.000000,6.000000,5.000000,...,3.088686,1.216796,85.720355,-0.533678,0.375723,0.263159,0.141709,-0.303403,-0.599356,1996
2,TUN,2.0,3.000000,1.583333,5.0,10.416667,10.666667,12.000000,7.666667,5.000000,...,2.515667,1.651879,80.500710,-0.185773,0.661579,0.597840,0.140553,-0.154190,-1.291283,1997
3,TUN,2.0,3.000000,1.000000,5.0,11.000000,11.000000,11.833333,10.000000,5.000000,...,1.674217,2.984528,79.979458,-0.238009,0.532296,0.265037,-0.016372,-0.235160,-0.823301,1998
4,TUN,2.0,3.000000,1.166667,5.0,11.000000,11.000000,10.000000,10.000000,5.000000,...,2.217420,1.513795,77.905114,-0.174537,0.584452,0.447412,0.090504,-0.136038,-1.170087,1999
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2811,MAR,2.0,2.333333,4.666667,4.5,9.500000,8.083333,7.291667,9.000000,4.583333,...,4.263467,2.892094,85.124917,-0.436757,-0.059165,-0.470459,-0.083183,-0.209178,-0.605667,2012
2812,MAR,2.0,2.000000,4.500000,4.5,9.500000,6.833333,7.000000,9.000000,4.500000,...,2.321377,3.146164,80.020559,-0.371114,-0.035125,-0.493018,-0.116067,-0.247950,-0.698580,2013
2813,MAR,2.0,2.041667,4.500000,4.5,9.500000,6.833333,7.000000,8.833333,4.500000,...,2.063472,3.202530,81.772274,-0.265682,-0.074534,-0.446266,-0.130392,-0.065145,-0.686271,2014
2814,MAR,2.0,2.500000,4.500000,4.5,9.500000,7.083333,7.166667,8.000000,4.500000,...,2.494895,3.214983,77.198036,-0.220341,-0.062050,-0.341487,-0.170745,-0.088945,-0.628307,2015
2815,MAR,2.0,2.583333,4.500000,4.5,9.500000,7.625000,7.125000,8.000000,4.041667,...,2.211550,2.084338,80.860595,-0.129715,-0.106201,-0.312573,-0.234950,-0.158313,-0.626316,2016

In [77]:
panel_T.isna().sum()

Country Code                    0
ICRG.BUREAU.QUAL              781
ICRG.CORR                     781
ICRG.DEMO.ACC                 781
ICRG.ETHN.TENS                781
ICRG.EXTER.CONFLIT            781
ICRG.GOV.STAB                 781
ICRG.INTNAL.CONFLIT           781
ICRG.INVEST.PROF              781
ICRG.LAW.ORD                  781
ICRG.MILI.POLIT               781
ICRG.RELIG.TENS               781
ICRG.SOCIO.COND               781
WDI.CAPI.INVEST.PER.GDP       245
WDI.GDP.PCAP.KD                65
WDI.GOV.CONSUM.PER.GDP        244
WDI.INFLATION.KD.PER           74
WDI.NATUR.RESOUR.PER.GDP       65
WDI.NET.INFLOW.FDI.PER.GDP     94
WDI.TRADE.PER.GDP             149
WGI.CON.CORR                  170
WGI.GOV.EFF                   170
WGI.POLI.STAB                 170
WGI.REG.QUAL                  170
WGI.RULE.LAW                  170
WGI.VOI.ACC                   170
Year                            0
dtype: int64

In [78]:
panel_T_sort=panel_T.sort_values(['Country Code','Year'])

In [79]:
panel_T_sort=panel_T_sort.reset_index()
panel_T_sort=panel_T_sort.drop(['index'],axis=1)
panel_T_sort

,Country Code,ICRG.BUREAU.QUAL,ICRG.CORR,ICRG.DEMO.ACC,ICRG.ETHN.TENS,ICRG.EXTER.CONFLIT,ICRG.GOV.STAB,ICRG.INTNAL.CONFLIT,ICRG.INVEST.PROF,ICRG.LAW.ORD,...,WDI.NATUR.RESOUR.PER.GDP,WDI.NET.INFLOW.FDI.PER.GDP,WDI.TRADE.PER.GDP,WGI.CON.CORR,WGI.GOV.EFF,WGI.POLI.STAB,WGI.REG.QUAL,WGI.RULE.LAW,WGI.VOI.ACC,Year
0,AFG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1995
1,AFG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,-1.291705,-2.175167,-2.414042,-2.090330,-1.788075,-1.908540,1996
2,AFG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,-1.307016,-1.796905,-2.225586,-2.036767,-1.800458,-1.728917,1997
3,AFG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,-1.180848,-2.135942,-2.422996,-2.087256,-1.737140,-2.039301,1998
4,AFG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,-1.329631,-1.738820,-2.266842,-1.947092,-1.782136,-1.653745,1999
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2811,ZWE,1.5,0.833333,2.000000,4.0,9.000000,6.000000,8.500000,1.000,3.0,...,8.070786,2.044131,74.162535,-1.368143,-1.336259,-0.778662,-1.888528,-1.629983,-1.471968,2012
2812,ZWE,1.5,1.000000,2.208333,4.0,9.416667,6.666667,8.625000,1.500,3.0,...,6.533939,1.954060,58.656494,-1.404895,-1.277510,-0.665950,-1.843716,-1.579165,-1.386220,2013
2813,ZWE,1.5,1.000000,2.000000,4.0,9.500000,6.833333,8.666667,2.500,3.0,...,6.999527,2.425173,54.671615,-1.391291,-1.210598,-0.713570,-1.903126,-1.431254,-1.256964,2014
2814,ZWE,1.5,1.000000,2.000000,4.0,9.500000,6.000000,8.666667,3.375,3.0,...,6.698087,1.999687,56.748811,-1.310461,-1.157869,-0.618156,-1.653554,-1.317532,-1.165904,2015
2815,ZWE,1.5,1.000000,2.000000,4.0,9.500000,6.000000,8.750000,4.000,3.0,...,6.737748,1.669274,51.219025,-1.259387,-1.158350,-0.619938,-1.720110,-1.368230,-1.180987,2016

In [80]:
panel_T_sort.head()

,Country Code,ICRG.BUREAU.QUAL,ICRG.CORR,ICRG.DEMO.ACC,ICRG.ETHN.TENS,ICRG.EXTER.CONFLIT,ICRG.GOV.STAB,ICRG.INTNAL.CONFLIT,ICRG.INVEST.PROF,ICRG.LAW.ORD,...,WDI.NATUR.RESOUR.PER.GDP,WDI.NET.INFLOW.FDI.PER.GDP,WDI.TRADE.PER.GDP,WGI.CON.CORR,WGI.GOV.EFF,WGI.POLI.STAB,WGI.REG.QUAL,WGI.RULE.LAW,WGI.VOI.ACC,Year
0,AFG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1995
1,AFG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,-1.291705,-2.175167,-2.414042,-2.090330,-1.788075,-1.908540,1996
2,AFG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,-1.307016,-1.796905,-2.225586,-2.036767,-1.800458,-1.728917,1997
3,AFG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,-1.180848,-2.135942,-2.422996,-2.087256,-1.737140,-2.039301,1998
4,AFG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,-1.329631,-1.738820,-2.266842,-1.947092,-1.782136,-1.653745,1999

In [81]:
panel_T_sort.to_csv(wdi_directory+'/'+'panel_na.csv')

### add income group

In [82]:
income_grp_list=[]

final_country_code=list(final_country_code)

final_country_code.sort()

for country in final_country_code:
    temp=country_df_developing[country_df_developing['Country Code']==country]
    income_grp_list.extend(list(temp['Income Group'].values)*22)

In [83]:
len(income_grp_list)

2816

In [84]:
panel_new=panel_T_sort.copy()

In [85]:
panel_new.insert(1,'Income Group',income_grp_list,True)

In [86]:
panel_new

,Country Code,Income Group,ICRG.BUREAU.QUAL,ICRG.CORR,ICRG.DEMO.ACC,ICRG.ETHN.TENS,ICRG.EXTER.CONFLIT,ICRG.GOV.STAB,ICRG.INTNAL.CONFLIT,ICRG.INVEST.PROF,...,WDI.NATUR.RESOUR.PER.GDP,WDI.NET.INFLOW.FDI.PER.GDP,WDI.TRADE.PER.GDP,WGI.CON.CORR,WGI.GOV.EFF,WGI.POLI.STAB,WGI.REG.QUAL,WGI.RULE.LAW,WGI.VOI.ACC,Year
0,AFG,Low income,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1995
1,AFG,Low income,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,-1.291705,-2.175167,-2.414042,-2.090330,-1.788075,-1.908540,1996
2,AFG,Low income,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,-1.307016,-1.796905,-2.225586,-2.036767,-1.800458,-1.728917,1997
3,AFG,Low income,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,-1.180848,-2.135942,-2.422996,-2.087256,-1.737140,-2.039301,1998
4,AFG,Low income,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,-1.329631,-1.738820,-2.266842,-1.947092,-1.782136,-1.653745,1999
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2811,ZWE,Lower middle income,1.5,0.833333,2.000000,4.0,9.000000,6.000000,8.500000,1.000,...,8.070786,2.044131,74.162535,-1.368143,-1.336259,-0.778662,-1.888528,-1.629983,-1.471968,2012
2812,ZWE,Lower middle income,1.5,1.000000,2.208333,4.0,9.416667,6.666667,8.625000,1.500,...,6.533939,1.954060,58.656494,-1.404895,-1.277510,-0.665950,-1.843716,-1.579165,-1.386220,2013
2813,ZWE,Lower middle income,1.5,1.000000,2.000000,4.0,9.500000,6.833333,8.666667,2.500,...,6.999527,2.425173,54.671615,-1.391291,-1.210598,-0.713570,-1.903126,-1.431254,-1.256964,2014
2814,ZWE,Lower middle income,1.5,1.000000,2.000000,4.0,9.500000,6.000000,8.666667,3.375,...,6.698087,1.999687,56.748811,-1.310461,-1.157869,-0.618156,-1.653554,-1.317532,-1.165904,2015
2815,ZWE,Lower middle income,1.5,1.000000,2.000000,4.0,9.500000,6.000000,8.750000,4.000,...,6.737748,1.669274,51.219025,-1.259387,-1.158350,-0.619938,-1.720110,-1.368230,-1.180987,2016

In [87]:
country_df_developing[country_df_developing['Country Code']=='URY']

    Country Code Table Name                     Region Income Group
134          URY    Uruguay  Latin America & Caribbean  High income

In [88]:
# add income code

panel_new['Income Group'].value_counts()

Upper middle income    968
Lower middle income    946
Low income             594
High income            308
Name: Income Group, dtype: int64

In [89]:
inc_grp_dict={}

inc_grp_dict['Low income']=0
inc_grp_dict['Lower middle income']=1
inc_grp_dict['Upper middle income']=2
inc_grp_dict['High income']=3

In [90]:
inc_grp_code=[]

for grp in panel_new['Income Group'].values:
    inc_grp_code.append(inc_grp_dict[grp])

In [91]:
panel_new.insert(1,'Income Group Code',inc_grp_code,True)

In [92]:
panel_new

,Country Code,Income Group Code,Income Group,ICRG.BUREAU.QUAL,ICRG.CORR,ICRG.DEMO.ACC,ICRG.ETHN.TENS,ICRG.EXTER.CONFLIT,ICRG.GOV.STAB,ICRG.INTNAL.CONFLIT,...,WDI.NATUR.RESOUR.PER.GDP,WDI.NET.INFLOW.FDI.PER.GDP,WDI.TRADE.PER.GDP,WGI.CON.CORR,WGI.GOV.EFF,WGI.POLI.STAB,WGI.REG.QUAL,WGI.RULE.LAW,WGI.VOI.ACC,Year
0,AFG,0,Low income,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1995
1,AFG,0,Low income,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,-1.291705,-2.175167,-2.414042,-2.090330,-1.788075,-1.908540,1996
2,AFG,0,Low income,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,-1.307016,-1.796905,-2.225586,-2.036767,-1.800458,-1.728917,1997
3,AFG,0,Low income,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,-1.180848,-2.135942,-2.422996,-2.087256,-1.737140,-2.039301,1998
4,AFG,0,Low income,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,-1.329631,-1.738820,-2.266842,-1.947092,-1.782136,-1.653745,1999
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2811,ZWE,1,Lower middle income,1.5,0.833333,2.000000,4.0,9.000000,6.000000,8.500000,...,8.070786,2.044131,74.162535,-1.368143,-1.336259,-0.778662,-1.888528,-1.629983,-1.471968,2012
2812,ZWE,1,Lower middle income,1.5,1.000000,2.208333,4.0,9.416667,6.666667,8.625000,...,6.533939,1.954060,58.656494,-1.404895,-1.277510,-0.665950,-1.843716,-1.579165,-1.386220,2013
2813,ZWE,1,Lower middle income,1.5,1.000000,2.000000,4.0,9.500000,6.833333,8.666667,...,6.999527,2.425173,54.671615,-1.391291,-1.210598,-0.713570,-1.903126,-1.431254,-1.256964,2014
2814,ZWE,1,Lower middle income,1.5,1.000000,2.000000,4.0,9.500000,6.000000,8.666667,...,6.698087,1.999687,56.748811,-1.310461,-1.157869,-0.618156,-1.653554,-1.317532,-1.165904,2015
2815,ZWE,1,Lower middle income,1.5,1.000000,2.000000,4.0,9.500000,6.000000,8.750000,...,6.737748,1.669274,51.219025,-1.259387,-1.158350,-0.619938,-1.720110,-1.368230,-1.180987,2016

### set variables

In [228]:
panel_var=panel_new.copy()

In [229]:
panel_var.isna().sum()

Country Code                    0
Income Group Code               0
Income Group                    0
ICRG.BUREAU.QUAL              781
ICRG.CORR                     781
ICRG.DEMO.ACC                 781
ICRG.ETHN.TENS                781
ICRG.EXTER.CONFLIT            781
ICRG.GOV.STAB                 781
ICRG.INTNAL.CONFLIT           781
ICRG.INVEST.PROF              781
ICRG.LAW.ORD                  781
ICRG.MILI.POLIT               781
ICRG.RELIG.TENS               781
ICRG.SOCIO.COND               781
WDI.CAPI.INVEST.PER.GDP       245
WDI.GDP.PCAP.KD                65
WDI.GOV.CONSUM.PER.GDP        244
WDI.INFLATION.KD.PER           74
WDI.NATUR.RESOUR.PER.GDP       65
WDI.NET.INFLOW.FDI.PER.GDP     94
WDI.TRADE.PER.GDP             149
WGI.CON.CORR                  170
WGI.GOV.EFF                   170
WGI.POLI.STAB                 170
WGI.REG.QUAL                  170
WGI.RULE.LAW                  170
WGI.VOI.ACC                   170
Year                            0
dtype: int64

In [230]:
# log of gdp per capita (y)
panel_var.insert(4,"lgdp_pcap", np.log(panel_var['WDI.GDP.PCAP.KD'].values), True)

In [231]:
panel_var['lgdp_pcap'].describe()

count    2751.000000
mean        7.813856
std         1.241036
min         5.212476
25%         6.802407
50%         7.824186
75%         8.655776
max        11.080059
Name: lgdp_pcap, dtype: float64

In [232]:
# openness %

panel_var.insert(4,'trade_open%', panel_var['WDI.TRADE.PER.GDP'].values, True)

In [233]:
panel_var['trade_open%'].describe()

count    2667.000000
mean       82.254762
std        50.725953
min         0.020999
25%        50.797839
50%        72.987822
75%       100.030703
max       442.620019
Name: trade_open%, dtype: float64

In [234]:
# gov consumption %

panel_var.insert(4,'gov_consu%', panel_var['WDI.GOV.CONSUM.PER.GDP'].values, True)

In [235]:
panel_var['gov_consu%'].describe()

count    2572.000000
mean       14.628059
std         7.183056
min         0.911235
25%        10.658918
50%        13.683392
75%        17.515979
max       135.809445
Name: gov_consu%, dtype: float64

In [236]:
# inflation

panel_var.insert(4,'inflation', panel_var['WDI.INFLATION.KD.PER'].values, True)
panel_var['inflation'].describe()

count    2742.000000
mean       15.888743
std       117.734676
min       -36.564783
25%         2.485294
50%         6.217963
75%        11.951340
max      4800.531644
Name: inflation, dtype: float64

In [237]:
# fdi inflow %

panel_var.insert(4, 'fdi_inflow%', panel_var['WDI.NET.INFLOW.FDI.PER.GDP'], True)
panel_var['fdi_inflow%'].describe()

count    2722.000000
mean        4.319556
std         7.516389
min       -37.154763
25%         1.012009
50%         2.594325
75%         5.278347
max       161.823751
Name: fdi_inflow%, dtype: float64

In [238]:
# captial investment %

panel_var.insert(4, 'capi_invest%', panel_var['WDI.CAPI.INVEST.PER.GDP'], True)
panel_var['capi_invest%'].describe()

count    2571.000000
mean       22.441016
std         8.213731
min        -2.424358
25%        17.548492
50%        21.599026
75%        26.201659
max        69.672775
Name: capi_invest%, dtype: float64

In [239]:
# natural resource %

panel_var.insert(4, 'natur_resouc%', panel_var['WDI.NATUR.RESOUR.PER.GDP'], True)
panel_var['natur_resouc%'].describe()

count    2751.000000
mean       10.138886
std        12.764378
min         0.000000
25%         1.286502
50%         5.050141
75%        13.688144
max        86.452562
Name: natur_resouc%, dtype: float64

In [240]:
# regulator quality

panel_var.insert(4, 'reg_qual', panel_var['WGI.REG.QUAL'], True)
panel_var['reg_qual'].describe()

count    2646.000000
mean       -0.384746
std         0.769206
min        -2.625506
25%        -0.875516
50%        -0.398678
75%         0.039419
max         2.260543
Name: reg_qual, dtype: float64

In [241]:
# corruption

svmci=pd.read_csv('../data/svmci.csv')

In [242]:
svmci

      Unnamed: 0 Country Code  Year     SVMCI
0              0          AGO  1996  0.058076
1              1          AGO  1997  0.127397
2              2          AGO  1998  0.125610
3              3          AGO  1999  0.207904
4              4          AGO  2000  0.146903
...          ...          ...   ...       ...
2935        2935          ZWE  2012  0.142179
2936        2936          ZWE  2013  0.148406
2937        2937          ZWE  2014  0.155365
2938        2938          ZWE  2015  0.148473
2939        2939          ZWE  2016  0.150193

[2940 rows x 4 columns]

In [243]:
temp=svmci[:0]
for country in list(set(panel_var['Country Code'].values)):
    temp=temp.append(svmci[svmci['Country Code']==country])

In [244]:
len(set(temp['Country Code'].values))

94

In [245]:
temp=temp.sort_values(['Country Code','Year'])

In [246]:
temp

      Unnamed: 0 Country Code  Year     SVMCI
0              0          AGO  1996  0.058076
1              1          AGO  1997  0.127397
2              2          AGO  1998  0.125610
3              3          AGO  1999  0.207904
4              4          AGO  2000  0.146903
...          ...          ...   ...       ...
2935        2935          ZWE  2012  0.142179
2936        2936          ZWE  2013  0.148406
2937        2937          ZWE  2014  0.155365
2938        2938          ZWE  2015  0.148473
2939        2939          ZWE  2016  0.150193

[1974 rows x 4 columns]

In [247]:
temp=temp.iloc[:,1:]

In [248]:
temp

     Country Code  Year     SVMCI
0             AGO  1996  0.058076
1             AGO  1997  0.127397
2             AGO  1998  0.125610
3             AGO  1999  0.207904
4             AGO  2000  0.146903
...           ...   ...       ...
2935          ZWE  2012  0.142179
2936          ZWE  2013  0.148406
2937          ZWE  2014  0.155365
2938          ZWE  2015  0.148473
2939          ZWE  2016  0.150193

[1974 rows x 3 columns]

In [249]:
# load in the inverse SVMCI

ci_list=[]

country_list=list(set(panel_var['Country Code'].values))
country_list.sort()

for country in country_list:
    if country in temp['Country Code'].values:
        # higher index, higher corruption control
        temp2=np.insert(temp[temp['Country Code']==country]['SVMCI'].values, 0, np.NaN, axis=0)
        ci_list.extend(temp2)
    else:
        temp2=[np.NaN]*22
        ci_list.extend(temp2)

len(ci_list)

2816

In [250]:
len(panel_var)

2816

In [251]:
panel_var_ci=panel_var.copy()

In [252]:
panel_var_ci.insert(1,'SVMCI',ci_list,True)

In [253]:
panel_var_ci

,Country Code,SVMCI,Income Group Code,Income Group,ICRG.BUREAU.QUAL,reg_qual,natur_resouc%,capi_invest%,fdi_inflow%,inflation,...,WDI.NATUR.RESOUR.PER.GDP,WDI.NET.INFLOW.FDI.PER.GDP,WDI.TRADE.PER.GDP,WGI.CON.CORR,WGI.GOV.EFF,WGI.POLI.STAB,WGI.REG.QUAL,WGI.RULE.LAW,WGI.VOI.ACC,Year
0,AFG,NaN,0,Low income,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1995
1,AFG,NaN,0,Low income,NaN,-2.090330,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,-1.291705,-2.175167,-2.414042,-2.090330,-1.788075,-1.908540,1996
2,AFG,NaN,0,Low income,NaN,-2.036767,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,-1.307016,-1.796905,-2.225586,-2.036767,-1.800458,-1.728917,1997
3,AFG,NaN,0,Low income,NaN,-2.087256,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,-1.180848,-2.135942,-2.422996,-2.087256,-1.737140,-2.039301,1998
4,AFG,NaN,0,Low income,NaN,-1.947092,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,-1.329631,-1.738820,-2.266842,-1.947092,-1.782136,-1.653745,1999
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2811,ZWE,0.142179,1,Lower middle income,1.5,-1.888528,8.070786,12.148340,2.044131,4.028577,...,8.070786,2.044131,74.162535,-1.368143,-1.336259,-0.778662,-1.888528,-1.629983,-1.471968,2012
2812,ZWE,0.148406,1,Lower middle income,1.5,-1.843716,6.533939,9.181371,1.954060,9.370603,...,6.533939,1.954060,58.656494,-1.404895,-1.277510,-0.665950,-1.843716,-1.579165,-1.386220,2013
2813,ZWE,0.155365,1,Lower middle income,1.5,-1.903126,6.999527,9.609292,2.425173,-0.252141,...,6.999527,2.425173,54.671615,-1.391291,-1.210598,-0.713570,-1.903126,-1.431254,-1.256964,2014
2814,ZWE,0.148473,1,Lower middle income,1.5,-1.653554,6.698087,9.995567,1.999687,0.607814,...,6.698087,1.999687,56.748811,-1.310461,-1.157869,-0.618156,-1.653554,-1.317532,-1.165904,2015
2815,ZWE,0.150193,1,Lower middle income,1.5,-1.720110,6.737748,9.807839,1.669274,2.160993,...,6.737748,1.669274,51.219025,-1.259387,-1.158350,-0.619938,-1.720110,-1.368230,-1.180987,2016

In [254]:
panel_var_ci.to_csv(corrpution_ind_directory+'/'+'panel_var_ci.csv')

### add dummies (fixed effect)

In [255]:
panel_var_fix=panel_var_ci.copy()

In [256]:
for year in np.arange(1995,2017,1):
    panel_var_fix.insert(2, 'y'+str(year), (panel_var_fix['Year']==str(year)).values.astype(int), True)

In [257]:
panel_var_fix.tail()

,Country Code,SVMCI,y2016,y2015,y2014,y2013,y2012,y2011,y2010,y2009,...,WDI.NATUR.RESOUR.PER.GDP,WDI.NET.INFLOW.FDI.PER.GDP,WDI.TRADE.PER.GDP,WGI.CON.CORR,WGI.GOV.EFF,WGI.POLI.STAB,WGI.REG.QUAL,WGI.RULE.LAW,WGI.VOI.ACC,Year
2811,ZWE,0.142179,0,0,0,0,1,0,0,0,...,8.070786,2.044131,74.162535,-1.368143,-1.336259,-0.778662,-1.888528,-1.629983,-1.471968,2012
2812,ZWE,0.148406,0,0,0,1,0,0,0,0,...,6.533939,1.954060,58.656494,-1.404895,-1.277510,-0.665950,-1.843716,-1.579165,-1.386220,2013
2813,ZWE,0.155365,0,0,1,0,0,0,0,0,...,6.999527,2.425173,54.671615,-1.391291,-1.210598,-0.713570,-1.903126,-1.431254,-1.256964,2014
2814,ZWE,0.148473,0,1,0,0,0,0,0,0,...,6.698087,1.999687,56.748811,-1.310461,-1.157869,-0.618156,-1.653554,-1.317532,-1.165904,2015
2815,ZWE,0.150193,1,0,0,0,0,0,0,0,...,6.737748,1.669274,51.219025,-1.259387,-1.158350,-0.619938,-1.720110,-1.368230,-1.180987,2016

In [258]:
for key in country_name_dict.keys():
    panel_var_fix.insert(2, 'pl_'+str(key), (panel_var_fix['Country Code']==str(key)).values.astype(int), True)

In [259]:
panel_var_fix.tail()

,Country Code,SVMCI,pl_MAR,pl_MEX,pl_SLB,pl_VEN,pl_KGZ,pl_SUR,pl_MYS,pl_GEO,...,WDI.NATUR.RESOUR.PER.GDP,WDI.NET.INFLOW.FDI.PER.GDP,WDI.TRADE.PER.GDP,WGI.CON.CORR,WGI.GOV.EFF,WGI.POLI.STAB,WGI.REG.QUAL,WGI.RULE.LAW,WGI.VOI.ACC,Year
2811,ZWE,0.142179,0,0,0,0,0,0,0,0,...,8.070786,2.044131,74.162535,-1.368143,-1.336259,-0.778662,-1.888528,-1.629983,-1.471968,2012
2812,ZWE,0.148406,0,0,0,0,0,0,0,0,...,6.533939,1.954060,58.656494,-1.404895,-1.277510,-0.665950,-1.843716,-1.579165,-1.386220,2013
2813,ZWE,0.155365,0,0,0,0,0,0,0,0,...,6.999527,2.425173,54.671615,-1.391291,-1.210598,-0.713570,-1.903126,-1.431254,-1.256964,2014
2814,ZWE,0.148473,0,0,0,0,0,0,0,0,...,6.698087,1.999687,56.748811,-1.310461,-1.157869,-0.618156,-1.653554,-1.317532,-1.165904,2015
2815,ZWE,0.150193,0,0,0,0,0,0,0,0,...,6.737748,1.669274,51.219025,-1.259387,-1.158350,-0.619938,-1.720110,-1.368230,-1.180987,2016

In [260]:
panel_var_fix.shape

(2816, 188)

In [261]:
panel_var_fix.to_csv(wdi_directory+'/'+'panel_var_fix_na.csv')

### get the final panel

In [262]:
panel_final=panel_var_fix.copy()

In [263]:
panel_final

,Country Code,SVMCI,pl_MAR,pl_MEX,pl_SLB,pl_VEN,pl_KGZ,pl_SUR,pl_MYS,pl_GEO,...,WDI.NATUR.RESOUR.PER.GDP,WDI.NET.INFLOW.FDI.PER.GDP,WDI.TRADE.PER.GDP,WGI.CON.CORR,WGI.GOV.EFF,WGI.POLI.STAB,WGI.REG.QUAL,WGI.RULE.LAW,WGI.VOI.ACC,Year
0,AFG,NaN,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1995
1,AFG,NaN,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,-1.291705,-2.175167,-2.414042,-2.090330,-1.788075,-1.908540,1996
2,AFG,NaN,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,-1.307016,-1.796905,-2.225586,-2.036767,-1.800458,-1.728917,1997
3,AFG,NaN,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,-1.180848,-2.135942,-2.422996,-2.087256,-1.737140,-2.039301,1998
4,AFG,NaN,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,-1.329631,-1.738820,-2.266842,-1.947092,-1.782136,-1.653745,1999
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2811,ZWE,0.142179,0,0,0,0,0,0,0,0,...,8.070786,2.044131,74.162535,-1.368143,-1.336259,-0.778662,-1.888528,-1.629983,-1.471968,2012
2812,ZWE,0.148406,0,0,0,0,0,0,0,0,...,6.533939,1.954060,58.656494,-1.404895,-1.277510,-0.665950,-1.843716,-1.579165,-1.386220,2013
2813,ZWE,0.155365,0,0,0,0,0,0,0,0,...,6.999527,2.425173,54.671615,-1.391291,-1.210598,-0.713570,-1.903126,-1.431254,-1.256964,2014
2814,ZWE,0.148473,0,0,0,0,0,0,0,0,...,6.698087,1.999687,56.748811,-1.310461,-1.157869,-0.618156,-1.653554,-1.317532,-1.165904,2015
2815,ZWE,0.150193,0,0,0,0,0,0,0,0,...,6.737748,1.669274,51.219025,-1.259387,-1.158350,-0.619938,-1.720110,-1.368230,-1.180987,2016

In [264]:
panel_final=panel_final.sort_values(['Country Code','Year'])

In [265]:
country_list=np.unique(panel_final['Country Code'].values)

In [266]:
country_list

array(['AFG', 'AGO', 'ALB', 'ARE', 'ARG', 'ARM', 'AZE', 'BDI', 'BEN',
       'BFA', 'BGD', 'BHR', 'BHS', 'BIH', 'BLR', 'BLZ', 'BOL', 'BRA',
       'BRB', 'BRN', 'BTN', 'BWA', 'CAF', 'CHL', 'CHN', 'CIV', 'CMR',
       'COD', 'COG', 'COL', 'COM', 'CPV', 'CRI', 'DJI', 'DOM', 'DZA',
       'ECU', 'EGY', 'ERI', 'ETH', 'GAB', 'GEO', 'GHA', 'GIN', 'GMB',
       'GNB', 'GNQ', 'GTM', 'GUY', 'HKG', 'HND', 'HTI', 'IDN', 'IND',
       'IRN', 'IRQ', 'ISR', 'JAM', 'JOR', 'KAZ', 'KEN', 'KGZ', 'KHM',
       'KOR', 'LAO', 'LBN', 'LBR', 'LBY', 'LKA', 'LSO', 'MAR', 'MDA',
       'MDG', 'MEX', 'MKD', 'MLI', 'MMR', 'MNE', 'MNG', 'MOZ', 'MRT',
       'MUS', 'MWI', 'MYS', 'NAM', 'NER', 'NGA', 'NIC', 'NPL', 'OMN',
       'PAK', 'PAN', 'PER', 'PHL', 'PNG', 'PRY', 'RUS', 'RWA', 'SAU',
       'SDN', 'SEN', 'SGP', 'SLB', 'SLE', 'SLV', 'SRB', 'SSD', 'SUR',
       'SWZ', 'TCD', 'TGO', 'THA', 'TJK', 'TKM', 'TLS', 'TUN', 'TUR',
       'TZA', 'UGA', 'UKR', 'URY', 'UZB', 'VEN', 'VNM', 'VUT', 'ZAF',
       'ZMB', 'ZWE'], dtype=object)

In [267]:
# get the lag lgdp

lag_gdp=[]

for key in country_list:
    #print(key)
    temp=panel_final[panel_final['Country Code']==key]
    lgdp_lag_temp=temp['lgdp_pcap'].values
    lgdp_lag_temp=lgdp_lag_temp[:-1]
    lgdp_lag_temp = np.insert(lgdp_lag_temp, 0, np.NaN, axis=0)
    lag_gdp.extend(lgdp_lag_temp)
    #print(lgdp_lag_temp)

len(lag_gdp)

2816

In [268]:
panel_final.insert(2,'lag_lgdp_pcap',lag_gdp, True)

In [269]:
panel_final

,Country Code,SVMCI,lag_lgdp_pcap,pl_MAR,pl_MEX,pl_SLB,pl_VEN,pl_KGZ,pl_SUR,pl_MYS,...,WDI.NATUR.RESOUR.PER.GDP,WDI.NET.INFLOW.FDI.PER.GDP,WDI.TRADE.PER.GDP,WGI.CON.CORR,WGI.GOV.EFF,WGI.POLI.STAB,WGI.REG.QUAL,WGI.RULE.LAW,WGI.VOI.ACC,Year
0,AFG,NaN,NaN,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1995
1,AFG,NaN,NaN,0,0,0,0,0,0,0,...,NaN,NaN,NaN,-1.291705,-2.175167,-2.414042,-2.090330,-1.788075,-1.908540,1996
2,AFG,NaN,NaN,0,0,0,0,0,0,0,...,NaN,NaN,NaN,-1.307016,-1.796905,-2.225586,-2.036767,-1.800458,-1.728917,1997
3,AFG,NaN,NaN,0,0,0,0,0,0,0,...,NaN,NaN,NaN,-1.180848,-2.135942,-2.422996,-2.087256,-1.737140,-2.039301,1998
4,AFG,NaN,NaN,0,0,0,0,0,0,0,...,NaN,NaN,NaN,-1.329631,-1.738820,-2.266842,-1.947092,-1.782136,-1.653745,1999
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2811,ZWE,0.142179,6.972068,0,0,0,0,0,0,0,...,8.070786,2.044131,74.162535,-1.368143,-1.336259,-0.778662,-1.888528,-1.629983,-1.471968,2012
2812,ZWE,0.148406,7.109228,0,0,0,0,0,0,0,...,6.533939,1.954060,58.656494,-1.404895,-1.277510,-0.665950,-1.843716,-1.579165,-1.386220,2013
2813,ZWE,0.155365,7.111152,0,0,0,0,0,0,0,...,6.999527,2.425173,54.671615,-1.391291,-1.210598,-0.713570,-1.903126,-1.431254,-1.256964,2014
2814,ZWE,0.148473,7.117096,0,0,0,0,0,0,0,...,6.698087,1.999687,56.748811,-1.310461,-1.157869,-0.618156,-1.653554,-1.317532,-1.165904,2015
2815,ZWE,0.150193,7.118100,0,0,0,0,0,0,0,...,6.737748,1.669274,51.219025,-1.259387,-1.158350,-0.619938,-1.720110,-1.368230,-1.180987,2016

In [270]:
panel_final=panel_final[panel_final['Year']!='1995']

In [271]:
panel_final=panel_final.reset_index()

In [272]:
panel_final=panel_final.drop('index',axis=1)

In [273]:
panel_final=panel_final.drop('y1995',axis=1)

In [274]:
col=list(panel_final)

In [275]:
panel_final.insert(2,'svmci_sqr', (panel_final['SVMCI'].values)**2, True)

In [276]:
panel_final

,Country Code,SVMCI,svmci_sqr,lag_lgdp_pcap,pl_MAR,pl_MEX,pl_SLB,pl_VEN,pl_KGZ,pl_SUR,...,WDI.NATUR.RESOUR.PER.GDP,WDI.NET.INFLOW.FDI.PER.GDP,WDI.TRADE.PER.GDP,WGI.CON.CORR,WGI.GOV.EFF,WGI.POLI.STAB,WGI.REG.QUAL,WGI.RULE.LAW,WGI.VOI.ACC,Year
0,AFG,NaN,NaN,NaN,0,0,0,0,0,0,...,NaN,NaN,NaN,-1.291705,-2.175167,-2.414042,-2.090330,-1.788075,-1.908540,1996
1,AFG,NaN,NaN,NaN,0,0,0,0,0,0,...,NaN,NaN,NaN,-1.307016,-1.796905,-2.225586,-2.036767,-1.800458,-1.728917,1997
2,AFG,NaN,NaN,NaN,0,0,0,0,0,0,...,NaN,NaN,NaN,-1.180848,-2.135942,-2.422996,-2.087256,-1.737140,-2.039301,1998
3,AFG,NaN,NaN,NaN,0,0,0,0,0,0,...,NaN,NaN,NaN,-1.329631,-1.738820,-2.266842,-1.947092,-1.782136,-1.653745,1999
4,AFG,NaN,NaN,NaN,0,0,0,0,0,0,...,NaN,NaN,NaN,-1.295380,-2.231651,-2.440187,-2.109626,-1.778437,-2.031417,2000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2683,ZWE,0.142179,0.020215,6.972068,0,0,0,0,0,0,...,8.070786,2.044131,74.162535,-1.368143,-1.336259,-0.778662,-1.888528,-1.629983,-1.471968,2012
2684,ZWE,0.148406,0.022024,7.109228,0,0,0,0,0,0,...,6.533939,1.954060,58.656494,-1.404895,-1.277510,-0.665950,-1.843716,-1.579165,-1.386220,2013
2685,ZWE,0.155365,0.024138,7.111152,0,0,0,0,0,0,...,6.999527,2.425173,54.671615,-1.391291,-1.210598,-0.713570,-1.903126,-1.431254,-1.256964,2014
2686,ZWE,0.148473,0.022044,7.117096,0,0,0,0,0,0,...,6.698087,1.999687,56.748811,-1.310461,-1.157869,-0.618156,-1.653554,-1.317532,-1.165904,2015
2687,ZWE,0.150193,0.022558,7.118100,0,0,0,0,0,0,...,6.737748,1.669274,51.219025,-1.259387,-1.158350,-0.619938,-1.720110,-1.368230,-1.180987,2016

In [277]:
panel_final.insert(2,'ci_rq', (panel_final['SVMCI'].values)*(panel_final['reg_qual'].values), True)

In [278]:
panel_final

,Country Code,SVMCI,ci_rq,svmci_sqr,lag_lgdp_pcap,pl_MAR,pl_MEX,pl_SLB,pl_VEN,pl_KGZ,...,WDI.NATUR.RESOUR.PER.GDP,WDI.NET.INFLOW.FDI.PER.GDP,WDI.TRADE.PER.GDP,WGI.CON.CORR,WGI.GOV.EFF,WGI.POLI.STAB,WGI.REG.QUAL,WGI.RULE.LAW,WGI.VOI.ACC,Year
0,AFG,NaN,NaN,NaN,NaN,0,0,0,0,0,...,NaN,NaN,NaN,-1.291705,-2.175167,-2.414042,-2.090330,-1.788075,-1.908540,1996
1,AFG,NaN,NaN,NaN,NaN,0,0,0,0,0,...,NaN,NaN,NaN,-1.307016,-1.796905,-2.225586,-2.036767,-1.800458,-1.728917,1997
2,AFG,NaN,NaN,NaN,NaN,0,0,0,0,0,...,NaN,NaN,NaN,-1.180848,-2.135942,-2.422996,-2.087256,-1.737140,-2.039301,1998
3,AFG,NaN,NaN,NaN,NaN,0,0,0,0,0,...,NaN,NaN,NaN,-1.329631,-1.738820,-2.266842,-1.947092,-1.782136,-1.653745,1999
4,AFG,NaN,NaN,NaN,NaN,0,0,0,0,0,...,NaN,NaN,NaN,-1.295380,-2.231651,-2.440187,-2.109626,-1.778437,-2.031417,2000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2683,ZWE,0.142179,-0.268509,0.020215,6.972068,0,0,0,0,0,...,8.070786,2.044131,74.162535,-1.368143,-1.336259,-0.778662,-1.888528,-1.629983,-1.471968,2012
2684,ZWE,0.148406,-0.273618,0.022024,7.109228,0,0,0,0,0,...,6.533939,1.954060,58.656494,-1.404895,-1.277510,-0.665950,-1.843716,-1.579165,-1.386220,2013
2685,ZWE,0.155365,-0.295680,0.024138,7.111152,0,0,0,0,0,...,6.999527,2.425173,54.671615,-1.391291,-1.210598,-0.713570,-1.903126,-1.431254,-1.256964,2014
2686,ZWE,0.148473,-0.245507,0.022044,7.117096,0,0,0,0,0,...,6.698087,1.999687,56.748811,-1.310461,-1.157869,-0.618156,-1.653554,-1.317532,-1.165904,2015
2687,ZWE,0.150193,-0.258349,0.022558,7.118100,0,0,0,0,0,...,6.737748,1.669274,51.219025,-1.259387,-1.158350,-0.619938,-1.720110,-1.368230,-1.180987,2016

In [279]:
panel_final.to_csv(wdi_directory+'/'+'final_na.csv')

In [280]:
country_list_id={}
for i,country in enumerate(country_list):
    country_list_id[country]=i

In [281]:
country_list

array(['AFG', 'AGO', 'ALB', 'ARE', 'ARG', 'ARM', 'AZE', 'BDI', 'BEN',
       'BFA', 'BGD', 'BHR', 'BHS', 'BIH', 'BLR', 'BLZ', 'BOL', 'BRA',
       'BRB', 'BRN', 'BTN', 'BWA', 'CAF', 'CHL', 'CHN', 'CIV', 'CMR',
       'COD', 'COG', 'COL', 'COM', 'CPV', 'CRI', 'DJI', 'DOM', 'DZA',
       'ECU', 'EGY', 'ERI', 'ETH', 'GAB', 'GEO', 'GHA', 'GIN', 'GMB',
       'GNB', 'GNQ', 'GTM', 'GUY', 'HKG', 'HND', 'HTI', 'IDN', 'IND',
       'IRN', 'IRQ', 'ISR', 'JAM', 'JOR', 'KAZ', 'KEN', 'KGZ', 'KHM',
       'KOR', 'LAO', 'LBN', 'LBR', 'LBY', 'LKA', 'LSO', 'MAR', 'MDA',
       'MDG', 'MEX', 'MKD', 'MLI', 'MMR', 'MNE', 'MNG', 'MOZ', 'MRT',
       'MUS', 'MWI', 'MYS', 'NAM', 'NER', 'NGA', 'NIC', 'NPL', 'OMN',
       'PAK', 'PAN', 'PER', 'PHL', 'PNG', 'PRY', 'RUS', 'RWA', 'SAU',
       'SDN', 'SEN', 'SGP', 'SLB', 'SLE', 'SLV', 'SRB', 'SSD', 'SUR',
       'SWZ', 'TCD', 'TGO', 'THA', 'TJK', 'TKM', 'TLS', 'TUN', 'TUR',
       'TZA', 'UGA', 'UKR', 'URY', 'UZB', 'VEN', 'VNM', 'VUT', 'ZAF',
       'ZMB', 'ZWE'], dtype=object)

In [282]:
country_id=[]
for code in panel_final['Country Code'].values:
    country_id.append(country_list_id[code])

In [283]:
panel_final.insert(0,'country_id',country_id, True)

In [284]:
panel_final.to_csv(wdi_directory+'/'+'final_panel.csv')